<div class="row">
  <div class="col-lg-4">
    <%= simple_form_for(@invoice) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <strong> Customer: <%= @invoice.registration.parent_name %></strong>
        Payment <%= @invoice.payment_order %> of 3

        <%= f.input :registration_id %>
        <%= f.input :paid %>
        <%= f.input :amount %>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <%= f.button :submit, class: "btn btn-lg btn-success float-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
