<div class="container">
  <h1>Listing invoices</h1>
  <table class="table table-striped datatable display responsive no-wrap"  width="100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Amount</th>
        <th>Payment #</th>
        <th>Due date</th>
        <th>Status</th>
        <th>Payment date</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.id %></td>
          <td>
            <% if invoice.registration.parent_name %>
              <%= link_to invoice.registration.parent_name, registration_path(invoice.registration) %>
            <% else %>
              <%= invoice.registration_id %>
            <% end %>
          </td>
          <td><%= invoice.amount %></td>
          <td><%= invoice.payment_order %></td>
          <td><%= invoice.due_date %></td>
          <td>
            <% if invoice.paid %>
              <span class="badge badge-pill badge-success">Paid</span>
            <% else %>
              <% if invoice.payment_declined %>
                <span class="badge badge-pill badge-danger">Declined</span>
              <% else %>
                <span class="badge badge-pill badge-warning">Unpaid</span>
              <% end %>
            <% end %>
          </td>
          <td><%= invoice.payment_date %></td>
          <td><%= link_to 'Show', invoice %></td>
          <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
          <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Invoice', new_invoice_path %>
</div>
