<h1>Listing weekly_programs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weekly_programs.each do |weekly_program| %>
      <tr>
        <td><%= weekly_program.name %></td>
        <td><%= link_to 'Show', weekly_program %></td>
        <td><%= link_to 'Edit', edit_weekly_program_path(weekly_program) %></td>
        <td><%= link_to 'Destroy', weekly_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weekly program', new_weekly_program_path %>
