<%= simple_form_for(@camp) do |f| %>
  <% if @camp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camp.errors.count, "error") %> prohibited this camp from being saved:</h2>
    </div>
  <% end %>

    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :show_description %>
    <%= f.input :capacity %>
    <%= f.input :age %>
    <%= f.button :submit, class: 'btn btn-lg btn-success' %>
<% end %>
