<%= simple_form_for(@camp) do |f| %>
  <% if @camp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camp.errors.count, "error") %> prohibited this camp from being saved:</h2>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <%= f.input :title %>
      <%= f.input :price %>
      <%= f.input :capacity %>
      <%= f.input :age %>
      <%= f.input :video_url, label: "Marketing Video URL", as: :string %>
      <%= f.input :parent_webpage, label: "Parent Resource URL", as: :string %>
      <%= f.input :girls_only, label: "Girls Only" %>
      <%= f.input :active, label: "Active" %>
      <%= f.input :online, label: "Online Camp" %>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <%= f.input :description, input_html: { rows: 20 }, label: "Modal Description" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <%= f.button :submit, class: 'btn btn-lg btn-success pull-right' %>
    </div>
  </div>
<% end %>
