<div class="container">
  <h1>Listing Camps</h1>

  <p>
    Download:
    <%= link_to "CSV", camps_path(format: "csv") %>
  </p>

  <table class="datatable display no-wrap">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>Capacity</th>
        <th>Age</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @camps.each do |camp| %>
        <tr>
          <td><%= camp.id %></td>
          <td><%= camp.title %></td>
          <td>$<%= camp.price if camp.price %></td>
          <td><%= camp.capacity %></td>
          <td><%= camp.age %></td>
          <td><%= link_to 'Show', camp %></td>
          <td><%= link_to 'Edit', edit_camp_path(camp) %></td>
          <td><%= link_to 'Destroy', camp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>
      <h3> Import Camps</h3>
        <%= form_tag import_camps_path, multipart: true do %>
          <%= file_field_tag :file %><br />
          <%= submit_tag "Import", class: 'btn btn-sm btn-default' %>
        <% end %>
  </p>
  <br />

  <br />

  <%= link_to 'New Camp', new_camp_path %>
</div>
