<div class="container">
  <h1>Listing camps</h1>

  <table class="datatable display responsive no-wrap"  width="100%">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Capacity</th>
        <th>Age</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @camps.each do |camp| %>
        <tr>
          <td><%= camp.title %></td>
          <td>$<%= camp.price if camp.price %></td>
          <td><%= camp.capacity %></td>
          <td><%= camp.age %></td>
          <td><%= link_to 'Show', camp %></td>
          <td><%= link_to 'Edit', edit_camp_path(camp) %></td>
          <td><%= link_to 'Destroy', camp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Camp', new_camp_path %>
</div>