<div style="margin-top:20px;" class="container">

  <h1><%= @camp.title %> <small style="font-size: 30px;">&nbsp; Ages <%= @camp.age %></small></h1>

  <div class="show-camp">
    <%= raw @camp.description %>
    <br /><br />Camp is limited to <%= @camp.capacity %> students.
    <br /><br />Half-day Monday through Friday (9:00am-12pm or 12:30-3:30pm).
    <br /><br />Tuition: $<%= @camp.price + 10 %>
  </div>
  <hr>
  <!-- <div class="text-center">
    <h3>Camp Schedules:</h3>
    <%# render '/pages/registration_buttons' %>
  </div> -->

  <% if current_user && current_user.role?("SuperAdmin") %>
    <p>
      <%= link_to 'Edit', edit_camp_path(@camp) %> |
      <%= link_to 'Back', camps_path %><br>
    </p>
  <% end %>
</div>
