<div style="margin-top:20px;" class="container">

  <h1><%= @camp.title %> <small style="font-size: 30px;">&nbsp; Ages <%= @camp.age %></small></h1>

  <div class="show-camp">
    <% if @camp.online %>
      <div class="badge badge-success" style="margin-bottom:15px;">Online Camp</div>
    <% else %>
      <span class="badge badge-primary" style="margin-bottom:15px;">In-Person Camp</span>
    <% end %>
    <%= raw @camp.description %>
    <% if @camp.online %>
      <br /><br />Tuition: $<%= @camp.price %>
      <br /><br />Includes:
      <ul>
        <li>Math Plus Academy Certified instructors.
        <li>7.5 to 10 hours of live, online instruction.
        <li>Plus >5 hours of self-paced activities.
        <li>Guaranteed student:teacher ratio of 4 to 1 or better.
      </ul>
    <% else %>
      <% unless @camp.id == 39 %>
        <br /><br />Camp is limited to <%= @camp.capacity %> students.
        <br /><br />Half-day Monday through Friday (9:00am-12:00pm or 1:00-4:00pm).
        <br /><br />Tuition: $<%= @camp.price %>
      <% end %>
    <% end %>
  </div>
  <hr>
  <!-- <div class="text-center">
    <h3>Camp Schedules:</h3>
    <%# render '/pages/registration_buttons' %>
  </div> -->

  <% if current_user && current_user.role?("SuperAdmin") %>
    <p>
      <%= link_to 'Edit', edit_camp_path(@camp) %> |
      <%= link_to 'Back', camps_path %><br>
    </p>
  <% end %>
</div>
