<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p>
        <strong>Parent first name:</strong>
        <%= @camp_survey.parent_first_name %>
      </p>

      <p>
        <strong>Parent last name:</strong>
        <%= @camp_survey.parent_last_name %>
      </p>

      <p>
        <strong>Student name:</strong>
        <%= @camp_survey.student_name %>
      </p>

      <p>
        <strong>Grade completed:</strong>
        <%= @camp_survey.grade_completed %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= @camp_survey.phone %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @camp_survey.email %>
      </p>

      <% if @camp_survey.contacted %>
        <p>
          <strong>Contacted Already?:</strong>
          <span style="color:green;"><%= @camp_survey.contacted %></span>
        </p>
      <% else %>
        <p>
          <strong>Contacted Already?:</strong>
          <span style="color:red;"><%= @camp_survey.contacted %></span>
        </p>
      <% end %>
    </div> <!-- /.col-lg-6 .col-md-6 .col-sm-12 .col-xs-12 -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p>
        <strong>Preferred contact:</strong>
        <%= @camp_survey.preferred_contact %>
      </p>

      <p>
        <strong>Contact fall:</strong>
        <%= @camp_survey.contact_fall %>
      </p>

      <p>
        <strong>Staisfaction:</strong>
        <%= @camp_survey.satisfaction %>
      </p>

      <p>
        <strong>Comment:</strong>
        <%= @camp_survey.comment %>
      </p>

      <p>
        <strong>Improvements:</strong>
        <%= @camp_survey.improvements %>
      </p>

      <p>
        <strong>Contact time:</strong>
        <%= @camp_survey.contact_time %>
      </p>

      <p>
        <%= link_to "Mark as Contacted", "/camp_surveys/contacted/#{@camp_survey.id}", class:"btn btn-warning" if !@camp_survey.contacted %>
      </p>
    </div> <!-- /.col-lg-6 .col-md-6 .col-sm-12 .col-xs-12 -->
  </div> <!-- / .row -->
</div>
