
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Poppins:400,400i,700,700i" rel="stylesheet" />
  <title>Registration Confirmation</title>
</head>
<body style="margin:0; padding:0; background:#ffffff; font-family:Arial, sans-serif; font-size:15px; line-height:28px; color:#666666;">
  <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
    <tr>
      <td align="center">
        <table width="650" cellpadding="0" cellspacing="0" border="0">
          <tr><td style="padding:30px 0;"><img src="<%= image_url('home_page/logo.png') %>" height="30" alt="Math Plus Academy" /></td></tr>
          <tr><td style="padding:0 30px;">
            <h2 style="color:#000000;">Camp Reminder</h2>
            <p>Hi <%= @registration.parent_name %>,</p>
            <p><%= @registration.student_first_name %> is registered for the following camp(s) next week at Math Plus:</p>
            <br />
            <ul>
              <% @registration.camp_offerings.each do |offering| %>
                <% if CampOffering::OFFERING_WEEKS[offering.week][:start].between?(Date.today, Date.today + 7.days) %>
                  <strong><%= offering.confirmation_name %></strong>
                  <% if offering.location.name == 'Online' %>
                    <li>Zoom link for all sessions: <a href="<%= offering.zoom_link %>"><%= offering.zoom_link %></a></li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
            
            <% @registration.camp_offerings.each do |offering| %>
              <% if offering.location.name == 'Online' %>
                <p><strong>Please Read: Important Information for Online Camps</strong></p>
                <ul>
                  <li>
                    <strong>Time Zones</strong><br/>
                    All camp times above are EASTERN. Please make sure you adjust accodingly for your time zone.
                  </li>
                </ul>
                <% break %>
              <% end %>
            <% end %>

            <% @registration.camp_offerings.each do |offering| %>
              <% if offering.location.name != 'Online' %>
                <p><strong>Important Information for In-Person Camps:</strong></p>
                <ul>
                  <li>Morning camps start at 9 AM and afternoon camps start at 1:00 PM</li>
                  <li>If your student is registered for two half-day camps they will need to bring a packed lunch. Lunch is NOT provided.</li>
                  <li>Water is available during camp. If your child needs snacks, please pack them.</li>
                  <li><strong>Please mark your calendar to pick your child up about 20 minutes early on the last day for a short presentation of what they've learned.</strong></li>
                </ul>
              <% end %>
            <% end %>

            <% if @registration.camp_offerings.first.location.name != 'Online' %>
              <h3 style="color:#000000;">📸 Media Notice</h3>
              <p>We may take photos and videos during camp for use on our website and social media. If you do not want your child’s image used, please contact us directly.</p>
            <% else %>
              <h3 style="color:#000000;">💻 Online Camp Info</h3>
              <ul>
                <li>All sessions will be on Zoom.</li>
                <li>Install the <a href="https://zoom.us/download">Zoom app</a> on a laptop or desktop.</li>
                <li><strong>Zoom link is given above.</strong></li>
              </ul>
            <% end %>

            <h3 style="color:#000000;">🙌 Refer & Earn</h3>
            <p>Invite a friend to join the fun! Tell them to use code <strong>REFERRAL20</strong> at checkout and include your name in the “Referred By” field. You’ll earn a $20 credit for each new family you refer!<br>
            👉 <a href="http://camps.mathplusacademy.com">Invite your friends today</a></p>

            <hr>
            <h3 style="color:#000000;">📞 Contact Us</h3>
            <p>Phone: 614-792-6284<br>
               Email: <a href="mailto:info@mathplusacademy.com">info@mathplusacademy.com</a><br>

            <p>We can’t wait to see your child at camp! If you have any questions, feel free to reach out.</p>
            <p>Warmly,<br>The Math Plus Academy Team</p>
          </td></tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
