<% Camp.onlinecamps.each do |camp| %>
  <!-- confirmationModal -->
  <div class="modal fade" id="camp<%= camp.id %>Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="myModalLabel"><%= camp.title %><small style='color:gray;'> Ages: <%= camp.age %></small></h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        </div>
        <div class="modal-body">
          <% if camp.video_url && camp.video_url != "" %>
            <!-- <div class="row" style="margin-bottom:20px;"> -->
              <!-- <div class="col-sm-6 col-sm-offset-3"> -->
                <!-- <div class="camp-video embed-responsive embed-responsive-16by9" data-video="<%= camp.video_url %>?color=c9ff23&title=0&byline=0&portrait=0"> -->
                  <!-- <iframe src="<%# camp.video_url %>?color=c9ff23&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </div> -->
          <% end %>
          <% if camp.online %>
            <div class="badge badge-success" style="margin-bottom:15px;">Online Camp</div>
          <% else %>
            <span class="badge badge-primary" style="margin-bottom:15px;">In-Person Camp</span>
          <% end %>
          <%= camp.description.html_safe if camp.description %>
          <%# unless camp.id == 20 %>
            <!-- <p>
              <h4>Offerings of this camp:</h4>
              <ul>
              <%# camp.camp_offerings.order(:start_date).where( year: 1 ).each do |co| %>
                <li><%# co.confirmation_name %></li>
              <%# end %>
              </ul>
            </p> -->
          <%# end %>
          <!-- <hr> -->
          <!-- <h3>View Schedules</h3> -->
          <%# render '/pages/registration_buttons' %>
        </div><!-- .modal-body -->
        <!-- <div class="modal-footer">
          <hr>
          <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
        </div> -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>
