<div class="hidden-md-up">
  <h3>Payment Information</h3>
</div>
<% if current_user && (current_user.role?("super_admin")||current_user.role?("admin")) %>
  <label class="checkbox">
    <%= check_box_tag "process_without_payment", "yes", false, class: "check_boxes optional"  %> Process Without Payment
  </label>
<% end %>
<div id="payment_plan_field" class="alert alert-success" style="display:none;">
  <span id="installment_explanation" style="color:green;">Since you're total is more than $250 you have the option of 3 installment payments.</span>
  <label class="checkbox">
    <%= f.input :payment_plan, label: 'Pay In Three Installments', input_html: { id: 'payment_plan', style: 'display:inline;' } %>
  </label>
</div>
<div id="payment_plan_info" style="display:none;margin-bottom:20px;">
  <h4 style="color:#792828;">
    You have elected to pay in three, monthly installments. Please see the payment setup below.
  </h4>
</div>
<div id="payment_plan_amounts" style="display:none;">
  <fieldset>
    <legend>Payment Plan</legend>
    <div id="registration_payment_1">
      <p>

      </p>
    </div>
    <div id="registration_payment_2">
      <p>

      </p>
    </div>
    <div id="registration_payment_3">
      <p>

      </p>
    </div>
  </fieldset>
</div>
<% if @registration.stripe_card_token %>
  <h4>Card has already been provided.</h4>
<% else %>
<div id="cc_form">
  <div id="cc_field" class="form-group string optional">
    <%= label_tag :card_number, "Credit Card Number", class: "string optional" %>
    <%= text_field_tag :card_number, nil, name: nil, class: "form-control" %>
  </div>
  <div id="code_field" class="form-group">
    <%= label_tag :card_code, "Security Code on Card (CVC)" %>
    <%= text_field_tag :card_code, nil, name: nil, class: "form-control" %>
  </div>
  <div id="exp_field" class="form-group">
    <%= label_tag :card_month, "Card Expiration" %>
    <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", class: "form-control"} %>
  </br>
  <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class: "form-control"} %>
  <% end %>
  </div>
</div>
<div id="stripe_error">
  <noscript>
    JavaScript is not enabled and is required for this form. You can enable JavaScript in your browser settings. Or call (614) 792-6284 to register over the phone.
  </noscript>
</div>
<div id="coupon_total">
  <p>
    <strong></strong> <span></span>
  </p>
</div>
<div id="registration_totals">
  <div id="registration_subtotal">
      <strong>Subtotal:</strong> <span class="pull-right">$0.00</span>
  </div>
  <div id="registration_discount">
      <strong></strong> <span class="pull-right"></span>
  </div>
  <div id="registration_total">
    <p>
      <strong>Total:</strong> <span class="pull-right">$0.00</span>
    </p>
  </div>
</div>
