<div class="row">
  <div class="col-sm-12">
    <h1 class="registration_header">Summer Camp Registration</h1>
    <div class="payment_plan_banner centered">
      <span>Monthly Payment Plan!</span> Spend more than $250 and you can opt for a three-month installment plan.
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-sm-12 align-center">
    <div class="alert alert-danger text-center" >Camp Registration is currently closed. Sign up for our <a href="https://www.mathplusacademy.com/newsletter">newsletter</a> to be notified about camp schedule releases, updates and flash sale. <u>Official camp registration will begin February 1st.</u></div>
  </div>
</div> -->
<!-- This renders all of the form information. -->
<%= render 'form_sections' %>

<%= render 'registration_modal' %>

<%= render 'confirmation_modal' %>

<%= render 'camp_modals' %>

<%= render 'extended_care_modal' %>
