  <div class="row">
    <div class="col-sm-12 pt-4">
      <h1 class="registration_header"><%= Location.find(params[:location] || params[:registration][:location_id]).name %> Camp Registration</h1>
      <!-- <div class="payment_plan_banner centered">
        <span>Monthly Payment Plan!</span> Register for more than one camp and you can opt for a three-month installment plan.
      </div> -->
      <p>
        <%= Location.find(params[:location] || params[:registration][:location_id]).directions&.html_safe %>
      </p>
    </div>
  </div>

  <!-- This renders all of the form information. -->
  <h3>Select Your Camps</h3>
  <%= render 'form_sections' %>

  <%= render 'registration_modal' %>

  <%= render 'confirmation_modal' %>

  <%= render 'camp_modals' %>

<script>
  fbq('track', 'ViewContent');
</script>
