<%= simple_form_for(@registration) do |f| %>
  <div class="row">
    <div class="col-lg-4">
      <% if @registration.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div id="camp_offerings">
        <% if user_signed_in? && current_user.roles.any?{ |role| role.name == "Guest"} %>
          <% if params[:location] == '6' %>
            <%= render 'location_schedule', location: Location.find(params[:location] || params[:registration][:location_id]) %>
          <% end %>
        <% else %>
          <% if params[:location] == '7' %>
            <%= render 'online_schedule' , location: Location.find(params[:location] || params[:registration][:location_id]) %>
          <% else %>
            <%= render 'online_schedule', location: Location.find(params[:location] || params[:registration][:location_id]) %>
          <% end %>
        <% end %>
      </div><!-- /#camp_offerings -->
    </div><!-- /.col-lg-12 .col-md-12 .col-sm-12 .col-xs-12 -->
  </div><!-- /.row -->

  <!-- ** Camps Your Registering For ** -->
  <div class="row pt-5">
    <div class="col-sm-7">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Selected Camps</h3>
        </div>
        <div class="card-block m-3">
          <div id="camp_registrations">
            <ul>
            </ul>
          </div><!-- /#camp_registrations -->
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Satisfaction Guarantee</h3>
        </div>
        <div class="card-block m-3">
          If your child attends camp and you aren't satisfied, let us know. If we can't fix it, we will provide a refund. Please note, student must attend at least two days of camp for this offer to be valid.
        </div>
      </div>
    </div>
  </div><!-- /.row -->

  <div class="row mt-4 mb-4">
    <div class="col-sm-12">
      <h2>Complete Enrollment</h2><br />
      <h3>Student Information</h3>
    </div><!-- /.col-lg-12 .col-md-12 .col-sm-12 .col-xs-12 -->
  </div>
  <div class="row">
    <div class="col-lg-4 col-xs-12">
      <%= f.input :student_first_name, label: "Student First Name" %>
      <%= f.input :student_last_name, label: "Student Last Name" %>
    </div><!-- /.col-lg-4 .col-md-4 .col-sm-12 .col-xs-12 -->

    <div class="col-lg-4 col-xs-12">
      <%= f.input :student_grade, label: "Grade" %>
      <%= f.input :student_allergies, label: "Allergies" %>
    </div><!-- /.col-lg-4 .col-md-4 .col-sm-12 .col-xs-12 -->

    <div class="col-lg-4 col-xs-12">
      <%= f.input :emergency_contact_name %>
      <%= f.input :emergency_contact_phone %>
      <%= f.input :total, as: :hidden %>
    </div><!-- /.col-lg-4 .col-md-4 .col-sm-12 .col-xs-12 -->
  </div><!-- /.row -->
  <div class="row mt-4 mb-3">
    <div class="col-lg-8">
      <h3>Parent/Gaurdian Information</h3>
    </div><!-- /.col-lg-8 .col-md-8 .col-sm-12 .col-xs-12 -->
    <div class="col-lg-4 d-none d-md-block">
      <h3>Payment Authorization</h3>
    </div><!-- /.col-lg-4 .col-md-4 .hidden-sm-down -->
  </div><!-- /.row -->
  <div class="row">
    <% if params[:registration] %>
      <div class="col-lg-4">
        <%= f.input :parent_first_name, label: "Parent/Guardian First Name", input_html: {value: params[:registration][:parent_first_name]}  %>
        <%= f.input :parent_last_name, label: "Last Name", input_html: {value: params[:registration][:parent_last_name]} %>
        <%= f.input :parent_address_1, label: "Address 1", input_html: {value: params[:registration][:parent_address_1]} %>
        <%= f.input :parent_address_2, label: "Address 2", input_html: {value: params[:registration][:parent_address_2]} %>
        <%= f.input :parent_city, label: "City", input_html: {value: params[:registration][:parent_city]} %>
      </div><!-- /.col-lg-4 .col-md-4 .col-sm-12 .col-xs-12 -->
      <div class="col-lg-4">
        <%= f.input :parent_state, collection: Registration::US_STATES, label: "State", input_html: {value: params[:registration][:parent_state]} %>
        <%= f.input :parent_zip, as: :string, label: "Zip", input_html: {value: params[:registration][:parent_zip]} %>
        <%= f.input :parent_email, label: "Email", input_html: {value: params[:registration][:parent_email]} %>
        <%= f.input :parent_phone, label: "Phone", input_html: {value: params[:registration][:parent_phone]} %>
        <%= f.input :referred_by, label: "Referred By", input_html: {value: params[:registration][:referred_by]} %>
        <%= f.input :stripe_card_token, as: :hidden %>
        <%= f.input :year, as: :hidden, input_html: { value: CampOffering::CURRENT_YEAR } %>
        <%= f.input :location_id, as: :hidden, input_html: { value: params[:location] || params[:registration][:location_id]} %>
      </div><!-- /.col-lg-4 .col-md-4 .col-sm-12 .col-xs-12 -->
    <% else %>
      <div class="col-lg-4">
        <%= f.input :parent_first_name, label: "Parent/Guardian First Name"  %>
        <%= f.input :parent_last_name, label: "Last Name" %>
        <%= f.input :parent_address_1, label: "Address 1" %>
        <%= f.input :parent_address_2, label: "Address 2"%>
        <%= f.input :parent_city, label: "City"%>
      </div><!-- /.col-lg-4 .col-md-4 .col-sm-12 .col-xs-12 -->
      <div class="col-lg-4">
        <%= f.input :parent_state, collection: Registration::US_STATES, label: "State" %>
        <%= f.input :parent_zip, as: :string, label: "Zip" %>
        <%= f.input :parent_email, label: "Email" %>
        <%= f.input :parent_phone, label: "Phone" %>
        <%= f.input :referred_by, label: "Referred By" %>
        <%= f.input :stripe_card_token, as: :hidden %>
        <%= f.input :year, as: :hidden, input_html: { value: CampOffering::CURRENT_YEAR } %>
        <%= f.input :location_id, as: :hidden, input_html: { value: params[:location] || params[:registration][:location_id]} %>
      </div><!-- /.col-lg-4 .col-md-4 .col-sm-12 .col-xs-12 -->
    <% end %>
    <div class="col-lg-4">
      <%= render 'credit_card_form', f: f %>
      <%= f.input :coupon_code, as: :hidden %>
      <div id="coupon_code_field" class="form-group string optional">
        <%= label_tag :coupon_code, "Coupon Code", class: "string optional" %>
        <%= text_field_tag :coupon_code, nil, name: nil, class: "form-control" %>
      </div><!-- /.form-group string optional -->
      <div id="coupon_error"></div>
      <%= link_to "Apply", "javascript:void(0)", class: 'btn btn-secondary btn-sm', id: :coupon_code_button %></br>
    </div><!-- /#coupon_code_field .col-lg-4 .col-md-4 .col-sm-12 .col-xs-12 -->
  </div><!-- /.row -->
  <div class="registration_button mt-4">
    <div class="container-fluid">
    <div class="row centered">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        <p class="text-center"><strong>Payment Policy:</strong> Camp payments are final and non-refundable. If you wish to change a camp in the future, we will do our best to accomodate your request, however no refunds will be given.<br /><br />
        <% if DateTime.now < (DateTime.civil(2023,2,1,0,0,0)) %>
          <div class="alert centered" style="background:#f4e9a2;border-bottom:solid 1px #a8a8a8;border-top:solid 1px #a8a8a8;">
          Summer camp registration opens February 1, 2023 at 12:01am
          </div>
          <%= f.button :submit, "Submit Registration", class: "btn btn-lg btn-success", id: "registration_button", disabled: true %>
        <% else %>
          <%= f.button :submit, "Submit Registration", class: "btn btn-lg btn-success", id: "registration_button" %>
        <% end %>
        </p>
      </div>
    </div>
    </div>
  </div><!-- /.registration_button -->
<% end %>
