<% if location.id == 6 %>
	   <div class="row mt-5 mb-5">
	     <div class="col-sm-12 align-center">
	       <div class="alert alert-success text-center" >Instant discount for Cleveland families: Use coupon code SOLON25 to save $25 off every camp</div>
	     </div>
	   </div>
<% end %>
<div class="row mt-3 mb-4">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">How to Register</h3>
      </div>
      <div class="card-block">
        <ol>
          <li>Click on camp names for detailed descriptions.</li>
          <li>Click checkbox to add camp(s) to cart for <u>one child</u>.</li>
          <li>Complete registration and payment info and submit your registration.</li>
          <li>Rinse and repeat for each child 😉.</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group check_boxes optional registration_camp_offerings">
    <table class="table table-bordered" width='100%'>
      <thead>
        <tr>
          <th>Dates</th>
          <th>Time</th>
          <th style="text-align:center;">Camps for Ages 9-13</th>
          <th style="text-align:center;">Camps for Ages 6-8</th>
          <th style="text-align:center;">Additional Camps</th>
          <th style="text-align:center;">Extended Care</th>
        </tr>
      </thead>
      <tbody>

        <% (CampOffering::OFFERING_WEEKS.count).times do |n| %>
          <tr <%= n%2 == 0 ? "style=background-color:lightgray;" : "" %>>
            <td rowspan=2 style="vertical-align:middle;">
              <%= CampOffering::OFFERING_WEEKS[n+1][:start].strftime("%b %d") %>  -  <%= CampOffering::OFFERING_WEEKS[n+1][:end].strftime("%b %d") %>
            </td>
            <td style="vertical-align:middle;">AM (9:00 - 12:00)</td>
            <!-- classroom 1 -->
            <% am_camp = false %>
            <% CampOffering.by_week(location.id, n+1, CampOffering::CURRENT_YEAR).each do |co| %>
              <% if co.time == "AM" && co.classroom == 1 %>
              <% am_camp = true %>
              <td style="vertical-align:middle;" <%= "class=girls-only" if co.camp.girls_only? %>>
                <% unless co.hidden && !user_signed_in? %>
                  <label class="checkbox">
                    <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}", halfday: true } unless co.at_capacity? && !user_signed_in? %>
                    <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
                    <% if co.at_capacity? %>
                      <span style='color:red;' class="pull-right">Sold Out</span>
                    <% else %>
                      <span class="pull-left"><%= open_spots(co).html_safe %></span>
                      <span style='color:green;' class="pull-right">$<%= co.price %></span>
                      <span style='color:gray;text-decoration:line-through;margin-right:10px;' class="pull-right">
                        $<%= co.price + 10 %>
                      </span>
                    <% end %>
                    <% if co.hidden && user_signed_in? %>
                      <span style='color:orange;' class="pull-left">Hidden</span>
                    <% end %>
                    <% if user_signed_in? %>
                      <span style='color:orange;' class="pull-left"><%= co.camp.capacity - co.open_spots.to_i %></span>
                    <% end %>
                </label>
                <% end %>
              </td>
              <% elsif co.time == "All Day" && co.classroom == 1 %>
              <% am_camp = true %>
              <td rowspan=2 style="vertical-align:middle;" <%= "class=girls-only" if co.camp.girls_only? %>>
                <% unless co.hidden && !user_signed_in? %>
                  <label class="checkbox">
                    <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}", halfday: false} unless ( co.at_capacity? ) && !user_signed_in? %>
                    <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
                    <% if co.at_capacity? %>
                      <span style='color:red;' class="pull-right">Sold Out</span>
                    <% else %>
                      <span class="pull-left"><%= open_spots(co).html_safe %></span>
                      <span style='color:green;' class="pull-right">$<%= co.price %></span>
                      <span style='color:gray;text-decoration:line-through;margin-right:10px;' class="pull-right">
                        $<%= co.price + 10 %>
                      </span>
                    <% end %>
                    <% if co.hidden && user_signed_in? %>
                      <span style='color:orange;' class="pull-left">Hidden</span>
                    <% end %>
                  </label>
                <% end %>
              </td>
              <% end %>
            <% end %>
            <% if !am_camp %>
              <td></td>
            <% end %>
            <!-- classroom 2 -->
            <% am_camp = false %>
            <% CampOffering.by_week(location.id, n+1, CampOffering::CURRENT_YEAR).each do |co| %>
              <% if co.time == "AM" && co.classroom == 2 %>
              <% am_camp = true %>
              <td style="vertical-align:middle;" <%= "class=girls-only" if co.camp.girls_only? %>>
                <% unless co.hidden && !user_signed_in? %>
                  <label class="checkbox">
                    <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}", halfday: true} unless co.at_capacity? && !user_signed_in? %>
                    <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
                    <% if co.at_capacity? %>
                      <span style='color:red;' class="pull-right">Sold Out</span>
                    <% else %>
                      <span class="pull-left"><%= open_spots(co).html_safe %></span>
                      <span style='color:green;' class="pull-right">$<%= co.price %></span>
                      <span style='color:gray;text-decoration:line-through;margin-right:10px;' class="pull-right">
                        $<%= co.price + 10 %>
                      </span>
                    <% end %>
                    <% if co.hidden && user_signed_in? %>
                      <span style='color:orange;' class="pull-left">Hidden</span>
                    <% end %>
                    <% if user_signed_in? %>
                      <span style='color:orange;' class="pull-left"><%= co.camp.capacity - co.open_spots.to_i %></span>
                    <% end %>
                  </label>
                <% end %>
              </td>
              <% elsif co.time == "All Day" && co.classroom == 2 %>
              <% am_camp = true %>
              <td rowspan=2 style="vertical-align:middle;" <%= "class=girls-only" if co.camp.girls_only? %>>
                <% unless co.hidden && !user_signed_in? %>
                  <label class="checkbox">
                    <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}", halfday: false} unless ( co.at_capacity? || co.hidden ) && !user_signed_in? %>
                    <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
                    <% if co.at_capacity? %>
                      <span style='color:red;' class="pull-right">Sold Out</span>
                    <% else %>
                      <span class="pull-left"><%= open_spots(co).html_safe %></span>
                      <span style='color:green;' class="pull-right">$<%= co.price %></span>
                    <% end %>
                    <% if co.hidden && user_signed_in? %>
                      <span style='color:orange;' class="pull-left">Hidden</span>
                    <% end %>
                  </label>
                <% end %>
              </td>
              <% end %>
            <% end %>
            <% if !am_camp %>
              <td></td>
            <% end %>
            <!-- classroom 3 -->
            <% am_camp = false %>
            <% CampOffering.by_week(location.id, n+1, CampOffering::CURRENT_YEAR).each do |co| %>
              <% if co.time == "AM" && co.classroom == 3 %>
              <% am_camp = true %>
              <td style="vertical-align:middle;" <%= "class=girls-only" if co.camp.girls_only? %>>
                <% unless co.hidden && !user_signed_in? %>
                  <% if location.id == 6 && co.camp.id == 39 %>
                    <label>
                      <%= link_to "Progress with Chess", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
                      <% if co.hidden && user_signed_in? %>
                        <span style='color:orange;' class="pull-left">Hidden</span>
                      <% end %>
                    </label>
                  <% else %>
                    <label class="checkbox">
                      <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}", halfday: true} unless ( co.at_capacity? || co.hidden ) && !user_signed_in?  %>
                      <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
                      <% if co.at_capacity? %>
                        <span style='color:red;' class="pull-right">Sold Out</span>
                      <% else %>
                        <span class="pull-left"><%= open_spots(co).html_safe %></span>
                        <span style='color:green;' class="pull-right">$<%= co.price %></span>
                        <span style='color:gray;text-decoration:line-through;margin-right:10px;' class="pull-right">
                          $<%= co.price + 10 %>
                        </span>
                      <% end %>
                      <% if co.hidden && user_signed_in? %>
                        <span style='color:orange;' class="pull-left">Hidden</span>
                      <% end %>
                      <% if user_signed_in? %>
                        <span style='color:orange;' class="pull-left"><%= co.camp.capacity - co.open_spots.to_i %></span>
                      <% end %>
                    </label>
                  <% end %>
                <% end %>
              </td>
              <% elsif co.time == "All Day" && co.classroom == 3 %>
              <% am_camp = true %>
              <td rowspan=2 style="vertical-align:middle;" <%= "class=girls-only" if co.camp.girls_only? %>>
                <% unless co.hidden && !user_signed_in? %>
                  <label class="checkbox">
                    <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}", halfday: false} unless ( co.at_capacity? || co.hidden ) && !user_signed_in?  %>
                    <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
                    <% if co.at_capacity? %>
                      <span style='color:red;' class="pull-right">Sold Out</span>
                    <% else %>
                      <span class="pull-left"><%= open_spots(co).html_safe %></span>
                      <span style='color:green;' class="pull-right">$<%= co.price %></span>
                      <span style='color:gray;text-decoration:line-through;margin-right:10px;' class="pull-right">
                        $<%= co.price + 10 %>
                      </span>
                    <% end %>
                    <% if co.hidden && user_signed_in? %>
                      <span style='color:orange;' class="pull-left">Hidden</span>
                    <% end %>
                  </label>
                <% end %>
              </td>
              <% end %>
            <% end %>
            <% if !am_camp %>
              <td></td>
            <% end %>
            <!-- extended care -->
            <% CampOffering.extended_care(location.id, n+1, CampOffering::CURRENT_YEAR).each do |co| %>
              <% if co %>
                <td rowspan=2 style="vertical-align:middle;">
                  <label class="checkbox">
                    <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes extended-care optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} unless ( co.at_capacity? || co.hidden ) && !user_signed_in?  %>
                    <%= link_to "#{co.extended_care_name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal", "data-target" => "#camp#{co.camp.id}Modal" %></br>
                    <span style='color:green;' class="pull-right">$<%= co.price %></span>
                    <% if user_signed_in? %>
                      <span style='color:orange;' class="pull-left"><%= co.camp.capacity - co.open_spots.to_i %></span>
                    <% end %>
                  </label>
                </td>
              <% end %>
            <% end %>
            <% if CampOffering.extended_care(location.id, n+1, CampOffering::CURRENT_YEAR).empty? %>
              <td rowspan=2 style="vertical-align:middle;"></td>
            <% end %>
          </tr>
          <tr <%= n%2 == 0 ? "style=background-color:lightgray;" : "" %>>
            <td style="vertical-align:middle;">PM (1:00 - 4:00)</td>
            <!-- classroom 1 -->
            <% pm_camp = false %>
            <% CampOffering.by_week(location.id, n+1, CampOffering::CURRENT_YEAR).each do |co| %>
                <% if co.time == "PM" && co.classroom == 1 %>
                  <% pm_camp = true %>
                  <td style="vertical-align:middle;" <%= "class=girls-only" if co.camp.girls_only? %>>
                    <% unless co.hidden && !user_signed_in? %>
                    <label class="checkbox">
                      <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}", halfday: true} unless ( co.at_capacity? || co.hidden ) && !user_signed_in?  %>
                      <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
                      <% if co.at_capacity? %>
                        <span style='color:red;' class="pull-right">Sold Out</span>
                      <% else %>
                        <span class="pull-left"><%= open_spots(co).html_safe %></span>
                        <span style='color:green;' class="pull-right">$<%= co.price %></span>
                        <span style='color:gray;text-decoration:line-through;margin-right:10px;' class="pull-right">
                          $<%= co.price + 10 %>
                        </span>
                      <% end %>
                      <% if co.hidden && user_signed_in? %>
                        <span style='color:orange;' class="pull-left">Hidden</span>
                      <% end %>
                      <% if user_signed_in? %>
                        <span style='color:orange;' class="pull-left"><%= co.camp.capacity - co.open_spots.to_i %></span>
                      <% end %>
                    </label>
                    <% end %>
                  </td>
                <% elsif co.time == "All Day" && co.classroom == 1 %>
                  <% pm_camp = true %>
                <% end %>
            <% end %>
            <% if !pm_camp %>
              <td></td>
            <% end %>
            <!-- classroom 2 -->
            <% pm_camp = false %>
            <% CampOffering.by_week(location.id, n+1, CampOffering::CURRENT_YEAR).each do |co| %>
                <% if co.time == "PM" && co.classroom == 2 %>
                  <% pm_camp = true %>
                  <td style="vertical-align:middle;" <%= "class=girls-only" if co.camp.girls_only? %>>
                    <% unless co.hidden && !user_signed_in? %>
                      <label class="checkbox">
                        <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}", halfday: true} unless ( co.at_capacity? || co.hidden ) && !user_signed_in?  %>
                        <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
                        <% if co.at_capacity? %>
                          <span style='color:red;' class="pull-right">Sold Out</span>
                        <% else %>
                          <span class="pull-left"><%= open_spots(co).html_safe %></span>
                          <span style='color:green;' class="pull-right">$<%= co.price %></span>
                          <span style='color:gray;text-decoration:line-through;margin-right:10px;' class="pull-right">
                            $<%= co.price + 10 %>
                          </span>
                        <% end %>
                        <% if co.hidden && user_signed_in? %>
                          <span style='color:orange;' class="pull-left">Hidden</span>
                        <% end %>
                        <% if user_signed_in? %>
                          <span style='color:orange;' class="pull-left"><%= co.camp.capacity - co.open_spots.to_i %></span>
                        <% end %>
                      </label>
                    <% end %>
                  </td>
                <% elsif co.time == "All Day" && co.classroom == 2 %>
                  <% pm_camp = true %>
                <% end %>
            <% end %>
            <% if !pm_camp %>
              <td></td>
            <% end %>
            <!-- classroom 3 -->
            <% pm_camp = false %>
            <% CampOffering.by_week(location.id, n+1, CampOffering::CURRENT_YEAR).each do |co| %>
                <% if co.time == "PM" && co.classroom == 3 %>
                  <% pm_camp = true %>
                  <td style="vertical-align:middle;" <%= "class=girls-only" if co.camp.girls_only? %>>
                    <% unless co.hidden && !user_signed_in? %>
                    <% if location.id == 6 && co.camp.id == 39 %>
                      <label>
                        <%= link_to "Progress with Chess", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
                        <% if co.hidden && user_signed_in? %>
                          <span style='color:orange;' class="pull-left">Hidden</span>
                        <% end %>
                      </label>
                    <% else %>
                      <label class="checkbox">
                        <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}", halfday: true} unless ( co.at_capacity? || co.hidden ) && !user_signed_in?  %>
                        <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
                        <% if co.at_capacity? %>
                          <span style='color:red;' class="pull-right">Sold Out</span>
                        <% else %>
                          <span class="pull-left"><%= open_spots(co).html_safe %></span>
                          <span style='color:green;' class="pull-right">$<%= co.price %></span>
                          <span style='color:gray;text-decoration:line-through;margin-right:10px;' class="pull-right">
                            $<%= co.price + 10 %>
                          </span>
                        <% end %>
                        <% if co.hidden && user_signed_in? %>
                          <span style='color:orange;' class="pull-left">Hidden</span>
                        <% end %>
                        <% if user_signed_in? %>
                          <span style='color:orange;' class="pull-left"><%= co.camp.capacity - co.open_spots.to_i %></span>
                        <% end %>
                      </label>
                    <% end %>
                    <% end %>
                  </td>
                <% elsif co.time == "All Day" && co.classroom == 3 %>
                  <% pm_camp = true %>
                <% end %>
            <% end %>
            <% if !pm_camp %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
        <input name="registration[camp_offering_ids][]" type="hidden" value="">
      </tbody>
    </table>
    </div>
  </div>
</div>
