<div class="accordion form-group check_boxes optional registration_camp_offerings" id="accordionSchedule" style="padding:0;">
	<!-- Cycle through all the weeks of camp -->
	<% (CampOffering::OFFERING_WEEKS.count).times do |n| %>
    <% if CampOffering::OFFERING_WEEKS[n+1][:start] > Date.today then thisweek = true else thisweek = false end %>
		<% headingId = "heading_#{n}" %>
		<% collapseId = "collapse_#{n}" %>
		<!-- One card per week -->
	  <div class="card">
	    <div class="card-header" id="<%= headingId %>">
	        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#<%= collapseId %>" aria-expanded="<%= thisweek ? "true" : "false"%>" aria-controls="<%= collapseId %>">
				<h5><i class="fa fa-plus"></i> <%= CampOffering::OFFERING_WEEKS[n+1][:start].strftime("%b %d") %>  -  <%= CampOffering::OFFERING_WEEKS[n+1][:end].strftime("%b %d") %></h3>
	        </button>
	    </div> <!-- card header -->

	    <div id="<%= collapseId %>" class="collapse <%= thisweek ? " show" : ""%>" aria-labelledby="<%= headingId %>">
	      <div class="card-body">
          <!-- <strong>Camp schedule will be published on February 1, 2023</strong><br /><br /> -->
			<!-- cycle through all camps for this year, location, week, and classroom -->
			<% if CampOffering.by_week(location.id, n+1, CampOffering::CURRENT_YEAR).count == 0 %>
				No camps offered this week.
			<% end %>
			<% CampOffering.by_week(location.id, n+1, CampOffering::CURRENT_YEAR).each do |co| %>
				<%= render 'online_camp_listing', co: co %>
			<% end %>
			<input name="registration[camp_offering_ids][]" type="hidden" value="">
	      </div>
	    </div>
	  </div>
	<% end %>
</div>
