<!-- Skip all this if camp is hidden and no user signed in -->
<% unless co.hidden && !user_signed_in? %>
  <label class="checkbox">
    <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}", halfday: true } unless co.at_capacity? && !user_signed_in? %>
    <%= link_to "#{co.name} #{co.time}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %>
    <% if co.at_capacity? %>
      <!-- Show sold out badge if capacity is zero -->
      <div class="pull-left"><span class="badge badge-pill badge-danger">Sold Out</span></div>
    <% else %>
      <!-- Otherwise show price and few spots warning -->
      <div class="pull-right">
         &nbsp;<span class="badge badge-pill badge-warning"><%= open_spots(co).html_safe %></span>
         &nbsp;<span class="badge badge-pill badge-success">$<%= co.price %></span>
       </div>
    <% end %>
    <!-- Show hidden camps to signed in users-->
    <% if co.hidden && user_signed_in? %>
      <div class="pull-right">&nbsp;<span class="badge badge-pill badge-warning">Hidden</span></div>
    <% end %>
    <!-- Show registration count to signed in users-->
    <% if user_signed_in? %>
      <div class="pull-right">&nbsp;<span class="badge badge-pill badge-primary"><%= co.camp.capacity - co.open_spots.to_i %></span></div>
    <% end %>
  </label>
  <br />
<% end %>
