<div class="row mt-3 mb-4">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">How to Register</h3>
      </div>
      <div class="card-block mt-3">
        <ol>
          <li>Click on each week to reveal all camp offerings</li>
					<li>Click on camp names for detailed descriptions.</li>
          <li>Click checkbox to add camp(s) to cart for <u>one child</u>.</li>
          <li>Complete checkout at the bottom of the page.</li>
          <li>Rinse and repeat for each child 😉.</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3 mb-4">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Satisfaction Guarantee</h3>
      </div>
      <div class="card-block m-3">
        <%= image_tag('satisfaction.png', size: '100x100', class: 'float-sm-left mr-3') %>
        If your child attends camp and you aren't satisfied, let us know. If we can't fix it, we will provide a refund. Please note, student must attend at least two days of camp for this offer to be valid.
      </div>
    </div>
  </div>
</div>

<div class="accordion form-group check_boxes optional registration_camp_offerings" id="accordionSchedule" style="padding:0;">
	<!-- Cycle through all the weeks of camp -->
	<% (CampOffering::OFFERING_WEEKS.count).times do |n| %>
    <% if CampOffering::OFFERING_WEEKS[n+1][:start] > Date.today then thisweek = true else thisweek = false end %>
		<% headingId = "heading_#{n}" %>
		<% collapseId = "collapse_#{n}" %>
		<!-- One card per week -->
	  <div class="card">
	    <div class="card-header" id="<%= headingId %>">
	        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#<%= collapseId %>" aria-expanded="<%= thisweek ? "true" : "false"%>" aria-controls="<%= collapseId %>">
						<h3><i class="fa fa-plus"></i> Week <%= n+1 %>: <%= CampOffering::OFFERING_WEEKS[n+1][:start].strftime("%b %d") %>  -  <%= CampOffering::OFFERING_WEEKS[n+1][:end].strftime("%b %d") %></h3>
	        </button>
	    </div> <!-- card header -->

	    <div id="<%= collapseId %>" class="collapse <%= thisweek ? " show" : ""%>" aria-labelledby="<%= headingId %>">
	      <div class="card-body" style="margin:20px;">
          <!-- <strong>Camp schedule will be published on February 1, 2022</strong><br /><br /> -->

					<h4>Innovation Labs</h4>
					<!-- cycle through all camps for this year, location, week, and classroom -->
					<% if CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 1).count == 0 %>
						<%# No Innovation camps offered this week. Please see other weeks. %>
					<% end %>
					<% CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 1).each do |co| %>
						<%= render 'online_camp_listing', co: co %>
					<% end %>

          <h4 class="mt-3">Creator Studios</h4>
					<!-- cycle through all camps for this year, location, week, and classroom -->
					<% if CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 4).count == 0 %>
						<%# No Creator Studio camps offered this week. Please see other weeks. %>
					<% end %>
					<% CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 4).each do |co| %>
						<%= render 'online_camp_listing', co: co %>
					<% end %>

					<h4 class="mt-3">Brain Games</h4>
					<!-- cycle through all camps for this year, location, week, and classroom -->
					<% if CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 2).count == 0 %>
						<%# No Brain Games camps offered this week. Please see other weeks. %>
					<% end %>
					<% CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 2).each do |co| %>
						<%= render 'online_camp_listing', co: co %>
					<% end %>

					<h4 class="mt-3">Jumpstart</h4>
					<!-- cycle through all camps for this year, location, week, and classroom -->
					<% if CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 3).count == 0 %>
						<%# No Jumpstart camps offered this week. Please see other weeks. %>
					<% end %>
					<% CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 3).each do |co| %>
						<%= render 'online_camp_listing', co: co %>
					<% end %>
					<input name="registration[camp_offering_ids][]" type="hidden" value="">
	      </div>
	    </div>
	  </div>
	<% end %>
</div>
