<div class="row mt centered">
  <div class="col-lg-6">
    <div class="card h-100">
      <div class="card-header">
        <h3 class="card-title">Innovation Labs</h3>
      </div>
      <div class="card-body" style="padding:15px;">
        <div class="card-text">
  				<div style="margin-bottom:15px;margin-top:15px;" class="circle_base type_1">
  					<%= image_tag('vgd.jpg', size: '150x150')%>
  				</div>
  				<strong>Spark a new interest!</strong><br />
          Daily 90 minute sessions plus engaging at-home extensions.<br /><br />
          Learn new tech skills. No prior experience required.<br /><br />

          <% @onlinecamps.each do |camp| %>
            <% if camp.title.include? "Tech" %>
              <%= link_to (camp.title.last(camp.title.length-6)+"<small style='color:gray;'> Ages: "+camp.age+"</small>").html_safe, "#camp#{camp.id}Modal", "data-toggle" => "modal" %><br />
            <% end %>
          <% end %>

        </div>
      </div><!--/col-lg-4 -->
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card h-100">
      <div class="card-header">
        <h3 class="card-title">Brain Games</h3>
      </div>
      <div class="card-body" style="padding:15px;">
        <div class="card-text">
    			<div style="margin-bottom:15px; margin-top:15px;" class="circle_base type_1">
    				<%= image_tag('puzzles.jpg', size: '150x150')%>
    			</div>
			    <strong>Be a master problem solver!</strong><br />
          Two 60 minute, daily sessions plus fun at-home activities.<br /><br />
          Apply previously learned math concepts while tackling fun puzzles and playing math games together.<br /><br />
          <% @onlinecamps.each do |camp| %>
            <% if camp.title.include? "Brain" %>
              <%= link_to (camp.title.last(camp.title.length-12)+"<small style='color:gray;'> Ages: "+camp.age+"</small>").html_safe, "#camp#{camp.id}Modal", "data-toggle" => "modal" %><br />
            <% end %>
          <% end %>
        </div><!--/col-lg-4 -->
      </div>
    </div>
  </div>
</div>

<div class="row mt centered">
  <div class="col-lg-6">
    <div class="card h-100">
      <div class="card-header">
        <h3 class="card-title">Creator Studios</h3>
      </div>
      <div class="card-body" style="padding:15px;">
        <div class="card-text">
          <div style="margin-bottom:15px; margin-top:15px;" class="circle_base type_1">
            <%= image_tag('prealgebraprep.png', size: '150x150')%>
          </div>
          <strong>Take your child's creativity to the next level!</strong><br />
          Daily 90 minute sessions plus engaging at-home extensions.<br /><br />
          Create art, videos, and more! No prior experience required.<br /><br />
          <% @onlinecamps.each do |camp| %>
            <% if camp.title.include? "Creator" %>
              <%= link_to (camp.title.last(camp.title.length-17)+"<small style='color:gray;'> Ages: "+camp.age+"</small>").html_safe, "#camp#{camp.id}Modal", "data-toggle" => "modal" %><br />
            <% end %>
          <% end %>
        </div><!--/col-lg-4 -->
      </div>
    </div>

  </div><!--/col-lg-4 -->

  <div class="col-lg-6">
    <div class="card h-100">
      <div class="card-header">
        <h3 class="card-title">Jumpstart</h3>
      </div>
      <div class="card-body" style="padding:15px;">
        <div class="card-text">
          <div style="margin-bottom:15px; margin-top:15px;" class="circle_base type_1">
    				<%= image_tag('prealgebraprep.png', size: '150x150')%>
    			</div>
          <strong>Get ready for school.</strong><br />
          Two 60 minute daily sessions plus at-home practice assignments.<br /><br />
          Build understanding and gain mastery of grade level core curriculum.<br /><br />
          <% @onlinecamps.each do |camp| %>
            <% if camp.title.include? "Jumpstart" %>
              <%= link_to (camp.title.last(camp.title.length-10)+"<small style='color:gray;'> Ages: "+camp.age+"</small>").html_safe, "#camp#{camp.id}Modal", "data-toggle" => "modal" %><br />
            <% end %>
          <% end %>
        </div><!--/col-lg-4 -->
      </div>
    </div>
  </div><!--/col-lg-4 -->
</div><!-- /row -->

<div class="container" style="background:PaleTurquoise;padding:15px;">
  <div class="row mt centered">
    <div class="col-lg-10 offset-lg-1">
      <h2>What Parents Say...</h2>
    </div>
  </div>
  <div class="row mt centered">
    <div class="col-lg-3">
      <em>"Lucas has very much enjoyed both Math Plus Academy camps he has been a part of and looks forward to another fun camp next week (Coding 101: Games). <strong>All of the instructors are definitely making it exciting to work with these programs and we’ve been very impressed.</strong>
"</em><br />
    </div>
    <div class="col-lg-3">
      <em>"<strong>Online Tech: Minecraft camp was literally my son’s favorite class/ camp that he’s done in life</strong> (per him) in school or out of school. Thanks!!!""
"</em><br />
    </div>
    <div class="col-lg-3">
      <em>"Brain Games: Multiplication/Divison was great! I loved that the student to teacher ratio was small. <strong>My child was challenged and I could see him struggling with the content but in a good way.</strong> The puzzles put a lot of context around the multiplication and division concepts and he totally gets them now. Thank you to all of you for organizing an enriching course."</em><br />
    </div>
    <div class="col-lg-3">
      <em>"<strong>This camp really opened my son's eyes to an entirely new field.</strong> He continues to write new programs at home. Thanks for inspiring him!"</em><br /> -- Zach's mom
    </div>
  </div>
</div>

<div class="container" style="padding:15px;">
  <div class="row mt centered">
    <div class="col-lg-10 offset-lg-1">
      <h2>Founder: Dr. Raj Shah</h2>
    </div>
  </div>
  <div class="row mt centered">
    <div class="col-lg-3 offset-lg-1">
      <%= image_tag('Raj-Shah-portrait-circle.png', size: '250x250')%>
    </div>
    <div class="col-lg-7">
      <strong>I'm on a mission to make math irresistible for all.</strong><br />
      Powered by my love of math, I earned a Ph.D. in Physics in 1999 which led to a decade in R&D at Intel.
      In 2008, I was struggling to find an effective math enrichment program for my 5 year-old son. So, I quit my job and spent three years develop a powerful curriculum and pedagogy designed to make your child think deeply about mathematics.
    </div>
  </div>
</div>

<div class="row mt-3 mb-4">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">How to Register</h3>
      </div>
      <div class="card-block">
        <ol>
          <li>Click on each week to reveal all camp offerings</li>
					<li>Click on camp names for detailed descriptions.</li>
          <li>Click checkbox to add camp(s) to cart for <u>one child</u>.</li>
          <li>Complete checkout at the bottom of the page.</li>
          <li>Rinse and repeat for each child 😉.</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="accordion form-group check_boxes optional registration_camp_offerings" id="accordionSchedule" style="padding:0;">
	<!-- Cycle through all the weeks of camp -->
	<% (CampOffering::OFFERING_WEEKS.count).times do |n| %>
    <% if CampOffering::OFFERING_WEEKS[n+1][:start].between?(Date.today, Date.today + 14.days) then thisweek = true else thisweek = false end %>
		<% headingId = "heading_#{n}" %>
		<% collapseId = "collapse_#{n}" %>
		<!-- One card per week -->
	  <div class="card">
	    <div class="card-header" id="<%= headingId %>">
	        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#<%= collapseId %>" aria-expanded="<%= thisweek ? "true" : "false"%>" aria-controls="<%= collapseId %>">
						<h3><i class="fa fa-plus"></i> Week <%= n+1 %>: <%= CampOffering::OFFERING_WEEKS[n+1][:start].strftime("%b %d") %>  -  <%= CampOffering::OFFERING_WEEKS[n+1][:end].strftime("%b %d") %></h3>
	        </button>
	    </div> <!-- card header -->

	    <div id="<%= collapseId %>" class="collapse <%= thisweek ? " show" : ""%>" aria-labelledby="<%= headingId %>">
	      <div class="card-body" style="margin:20px;">

					<h4>Tech Camps</h4>
					<!-- cycle through all camps for this year, location, week, and classroom -->
					<% if CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 1).count == 0 %>
						No Tech camps offered this week. Please see other weeks.
					<% end %>
					<% CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 1).each do |co| %>
						<%= render 'online_camp_listing', co: co %>
					<% end %>

					<h4>Brain Games</h4>
					<!-- cycle through all camps for this year, location, week, and classroom -->
					<% if CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 2).count == 0 %>
						No Brain Games camps offered this week. Please see other weeks.
					<% end %>
					<% CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 2).each do |co| %>
						<%= render 'online_camp_listing', co: co %>
					<% end %>

          <h4>Creator Studios</h4>
					<!-- cycle through all camps for this year, location, week, and classroom -->
					<% if CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 4).count == 0 %>
						No Brain Games camps offered this week. Please see other weeks.
					<% end %>
					<% CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 4).each do |co| %>
						<%= render 'online_camp_listing', co: co %>
					<% end %>

					<h4>Jumpstart</h4>
					<!-- cycle through all camps for this year, location, week, and classroom -->
					<% if CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 3).count == 0 %>
						No Jumpstart camps offered this week. Please see other weeks.
					<% end %>
					<% CampOffering.by_week_and_classroom(location.id, n+1, CampOffering::CURRENT_YEAR, 3).each do |co| %>
						<%= render 'online_camp_listing', co: co %>
					<% end %>
					<input name="registration[camp_offering_ids][]" type="hidden" value="">
	      </div>
	    </div>
	  </div>
	<% end %>
</div>
