<h2>Powell Camp Schedule</h2>
<h3><b>Click each camp's name for more information.</b></h3>
<div class="form-group check_boxes optional registration_camp_offerings">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Dates</th>
      <th>Time</th>
      <th>Classroom 1</th>
      <th>Classroom 2</th>
      <th>Classroom 3</th>
    </tr>
  </thead>
  <tbody>

    <% 8.times do |n| %>
      <tr <%= n%2 == 0 ? "style=background-color:lightgray;" : "" %>>
        <td rowspan=2 style="vertical-align:middle;"><%= CampOffering::OFFERING_WEEKS[n+1][:start].strftime("%b %d") %></td>
        <td>AM (9:00 - 12:00)</td>
        <!-- classroom 1 -->
        <% am_camp = false %>
        <% CampOffering.by_week(1, n+1).each do |co| %>
          <% if co.time == "AM" && co.classroom == 1 %>
          <% am_camp = true %>
          <td>
            <label class="checkbox">
              <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} unless co.at_capacity? %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
            </label>
          </td>
          <% elsif co.time == "All Day" && co.classroom == 1 %>
          <% am_camp = true %>
          <td rowspan=2 style="vertical-align:middle;">
            <label class="checkbox">
              <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} unless co.at_capacity? %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
            </label>
          </td>
          <% end %>
        <% end %>
        <% if !am_camp %>
          <td></td>
        <% end %>
        <!-- classroom 2 -->
        <% am_camp = false %>
        <% CampOffering.by_week(1, n+1).each do |co| %>
          <% if co.time == "AM" && co.classroom == 2 %>
          <% am_camp = true %>
          <td>
            <label class="checkbox">
              <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} unless co.at_capacity? %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
            </label>
          </td>
          <% elsif co.time == "All Day" && co.classroom == 2 %>
          <% am_camp = true %>
          <td rowspan=2 style="vertical-align:middle;">
            <label class="checkbox">
              <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} unless co.at_capacity? %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
            </label>
          </td>
          <% end %>
        <% end %>
        <% if !am_camp %>
          <td></td>
        <% end %>
        <!-- classroom 3 -->
        <% am_camp = false %>
        <% CampOffering.by_week(1, n+1).each do |co| %>
          <% if co.time == "AM" && co.classroom == 3 %>
          <% am_camp = true %>
          <td>
            <label class="checkbox">
              <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} unless co.at_capacity? %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
            </label>
          </td>
          <% elsif co.time == "All Day" && co.classroom == 3 %>
          <% am_camp = true %>
          <td rowspan=2 style="vertical-align:middle;">
            <label class="checkbox">
              <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
            </label>
          </td>
          <% end %>
        <% end %>
        <% if !am_camp %>
          <td></td>
        <% end %>
      </tr>
      <tr <%= n%2 == 0 ? "style=background-color:lightgray;" : "" %>>
        <td>PM (12:30 - 3:30)</td>
        <!-- classroom 1 -->
        <% pm_camp = false %>
        <% CampOffering.by_week(1, n+1).each do |co| %>
            <% if co.time == "PM" && co.classroom == 1 %>
              <% pm_camp = true %>
              <td>
                <label class="checkbox">
                  <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
                </label>
              </td>
            <% elsif co.time == "All Day" && co.classroom == 1 %>
              <% pm_camp = true %>
            <% end %>
        <% end %>
        <% if !pm_camp %>
          <td></td>
        <% end %>
        <!-- classroom 2 -->
        <% pm_camp = false %>
        <% CampOffering.by_week(1, n+1).each do |co| %>
            <% if co.time == "PM" && co.classroom == 2 %>
              <% pm_camp = true %>
              <td>
                <label class="checkbox">
                  <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
                </label>
              </td>
            <% elsif co.time == "All Day" && co.classroom == 2 %>
              <% pm_camp = true %>
            <% end %>
        <% end %>
        <% if !pm_camp %>
          <td></td>
        <% end %>
        <!-- classroom 3 -->
        <% pm_camp = false %>
        <% CampOffering.by_week(1, n+1).each do |co| %>
            <% if co.time == "PM" && co.classroom == 3 %>
              <% pm_camp = true %>
              <td>
                <label class="checkbox">
                  <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
                </label>
              </td>
            <% elsif co.time == "All Day" && co.classroom == 3 %>
              <% pm_camp = true %>
            <% end %>
        <% end %>
        <% if !pm_camp %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
    <input name="registration[camp_offering_ids][]" type="hidden" value="">

  </tbody>
</table>
</div>