9681 Sawmill Road -- At the corner of Old Sawmill and Powell Roads next to UDF (<a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Math+Plus+Academy,+Sawmill+Road,+Powell,+OH&amp;aq=0&amp;oq=math+plus+academy&amp;sll=40.365277,-82.669252&amp;sspn=5.967451,10.568848&amp;vpsrc=6&amp;ie=UTF8&amp;hq=Math+Plus+Academy,&amp;hnear=Sawmill+Rd,+Powell,+Ohio+43065&amp;ll=40.157428,-83.088335&amp;spn=0.028565,0.006295&amp;t=m">Map</a>)
<br />
<h2>Powell Camp Schedule</h2>
    <ul>
      <li>Click on camp names for detailed descriptions.
      <li>Select all of the summer camps for which you wish to register one child.
      <li>You will need to complete a separate registration for each child.
    </ul>
    <br />
<div class="form-group check_boxes optional registration_camp_offerings">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Dates</th>
      <th>Time</th>
      <th style="text-align:center;">Offering 1</th>
      <th style="text-align:center;">Offering 2</th>
      <th style="text-align:center;">Offering 3</th>
    </tr>
  </thead>
  <tbody>

    <% 8.times do |n| %>
      <tr <%= n%2 == 0 ? "style=background-color:lightgray;" : "" %>>
        <td rowspan=2 style="vertical-align:middle;">
          <%= CampOffering::OFFERING_WEEKS[n+1][:start].strftime("%b %d") %>  -  <%= CampOffering::OFFERING_WEEKS[n+1][:end].strftime("%b %d") %>
        </td>
        <td style="vertical-align:middle;">AM (9:00 - 12:00)</td>
        <!-- classroom 1 -->
        <% am_camp = false %>
        <% CampOffering.by_week(1, n+1).each do |co| %>
          <% if co.time == "AM" && co.classroom == 1 %>
          <% am_camp = true %>
          <td style="vertical-align:middle;">
            <label class="checkbox">
              <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} unless co.at_capacity? %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span class="pull-left"><%= co.open_spots %></span>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
            </label>
          </td>
          <% elsif co.time == "All Day" && co.classroom == 1 %>
          <% am_camp = true %>
          <td rowspan=2 style="vertical-align:middle;">
            <label class="checkbox">
              <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} unless co.at_capacity? %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span class="pull-left"><%= co.open_spots %></span>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
            </label>
          </td>
          <% end %>
        <% end %>
        <% if !am_camp %>
          <td></td>
        <% end %>
        <!-- classroom 2 -->
        <% am_camp = false %>
        <% CampOffering.by_week(1, n+1).each do |co| %>
          <% if co.time == "AM" && co.classroom == 2 %>
          <% am_camp = true %>
          <td style="vertical-align:middle;">
            <label class="checkbox">
              <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} unless co.at_capacity? %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span class="pull-left"><%= open_spots(co).html_safe %></span>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
            </label>
          </td>
          <% elsif co.time == "All Day" && co.classroom == 2 %>
          <% am_camp = true %>
          <td rowspan=2 style="vertical-align:middle;">
            <label class="checkbox">
              <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} unless co.at_capacity? %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span class="pull-left"><%= open_spots(co).html_safe %></span>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
            </label>
          </td>
          <% end %>
        <% end %>
        <% if !am_camp %>
          <td></td>
        <% end %>
        <!-- classroom 3 -->
        <% am_camp = false %>
        <% CampOffering.by_week(1, n+1).each do |co| %>
          <% if co.time == "AM" && co.classroom == 3 %>
          <% am_camp = true %>
          <td style="vertical-align:middle;">
            <label class="checkbox">
              <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} unless co.at_capacity? %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span class="pull-left"><%= open_spots(co).html_safe %></span>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
            </label>
          </td>
          <% elsif co.time == "All Day" && co.classroom == 3 %>
          <% am_camp = true %>
          <td rowspan=2 style="vertical-align:middle;">
            <label class="checkbox">
              <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span class="pull-left"><%= open_spots(co).html_safe %></span>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
            </label>
          </td>
          <% end %>
        <% end %>
        <% if !am_camp %>
          <td></td>
        <% end %>
      </tr>
      <tr <%= n%2 == 0 ? "style=background-color:lightgray;" : "" %>>
        <td style="vertical-align:middle;">PM (12:30 - 3:30)</td>
        <!-- classroom 1 -->
        <% pm_camp = false %>
        <% CampOffering.by_week(1, n+1).each do |co| %>
            <% if co.time == "PM" && co.classroom == 1 %>
              <% pm_camp = true %>
              <td style="vertical-align:middle;">
                <label class="checkbox">
                  <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span class="pull-left"><%= open_spots(co).html_safe %></span>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
                </label>
              </td>
            <% elsif co.time == "All Day" && co.classroom == 1 %>
              <% pm_camp = true %>
            <% end %>
        <% end %>
        <% if !pm_camp %>
          <td></td>
        <% end %>
        <!-- classroom 2 -->
        <% pm_camp = false %>
        <% CampOffering.by_week(1, n+1).each do |co| %>
            <% if co.time == "PM" && co.classroom == 2 %>
              <% pm_camp = true %>
              <td style="vertical-align:middle;">
                <label class="checkbox">
                  <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span class="pull-left"><%= open_spots(co).html_safe %></span>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
                </label>
              </td>
            <% elsif co.time == "All Day" && co.classroom == 2 %>
              <% pm_camp = true %>
            <% end %>
        <% end %>
        <% if !pm_camp %>
          <td></td>
        <% end %>
        <!-- classroom 3 -->
        <% pm_camp = false %>
        <% CampOffering.by_week(1, n+1).each do |co| %>
            <% if co.time == "PM" && co.classroom == 3 %>
              <% pm_camp = true %>
              <td style="vertical-align:middle;">
                <label class="checkbox">
                  <%= check_box_tag "registration[camp_offering_ids][]", co.id, false, id: "registration_camp_offering_ids_#{co.id}", class: "check_boxes optional", data: { price: "#{co.camp.price}", name: "#{co.confirmation_name}"} %>
              <%= link_to "#{co.name}", "#camp#{co.camp.id}Modal", "data-toggle" => "modal" %></br>
              <% if co.at_capacity? %>
                <span style='color:red;' class="pull-right">Sold Out</span>
              <% else %>
                <span class="pull-left"><%= open_spots(co).html_safe %></span>
                <span style='color:green;' class="pull-right">$<%= co.price %></span>
              <% end %>
                </label>
              </td>
            <% elsif co.time == "All Day" && co.classroom == 3 %>
              <% pm_camp = true %>
            <% end %>
        <% end %>
        <% if !pm_camp %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
    <input name="registration[camp_offering_ids][]" type="hidden" value="">
  </tbody>
</table>
</div>