<div class="container">
  <h1>Thank you for registering!</h1>
  <p>You have been sent an email confirming the details of this transaction.</p>
  <!-- <hr>
  <h2 style="color:#252525;">Want to receive a free camp?</h2>
  <h3>
    <%= link_to "Click here and share this!", facebook_share_coupon_codes_path(registration_id: @registration.id, token: @registration.stripe_charge_token) %>
  </h3>
  <p>
    Everytime someone uses the shared code you will receive a $10 credit! We're serious, it's that easy.
  </p> -->
  <hr>
  <div class="row text-center">
    <%= render 'pages/jumpstart' %>
  </div>
  <hr style="margin-top:50px;">
  <div class="row mt centered">
    <h1>Register For More</h1>
    <%= render 'pages/registration_buttons' %>
  </div>
  <hr>
  <h2>Do you follow us on Facebook?</h2>
  <p>We post fun stuff, information about our programs, and ways to save on Math Plus Programs.</p>
  <p>
    <div class="fb-follow" data-href="https://www.facebook.com/mathplusacademy" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
  </p>
</div>

<% if Rails.env.production? %>
  <div id="facebook_pixel_tracking" data-amount="<%= '%.2f'%(@registration.total/100) %>">
  </div>
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19803817-1']);
      _gaq.push(['_addTrans', <%= @registration.id %>, 'Math Plus Academy', "" + (<%= @registration.total %>)/100 + ".00" , '0.00', '0', 'Powell', 'Ohio', 'USA']);
      _gaq.push(['_trackTrans']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
<% end %>
