<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="mb-5">Thank you for registering!</h1>
      <p>You have been sent an email confirming the details of this transaction.</p>
    </div>
  </div>
  <div class="row mt-3">
    <% if @registration.total < 25000 %>
      <div class="col-sm-12">
        <div class="alert alert-success text-center">
          <h1>
            Receive $50 off when purchase another camp with code: <span style="color:rgb(164, 53, 53);" >
              DOUBLEUP222
            </span>
          </h1>
        </div>
      </div>
      <div class="col-md-12 text-center mt-3">
        <% if @registration %>
          <p>
            <%= render 'registration_another_student_button', registration: @registration %>
          </p>
        <% end %>
      </div>
    <% else %>
      <div class="col-sm-12 text center">
        <% if @registration %>
          <p>
            <%= render 'registration_another_student_button', registration: @registration %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr class="mt-5 mb-5">
  <div class="row">
    <%= render 'pages/jumpstart' %>
  </div>
  <hr class="mt-5 mb-5">
  <div class="row mt-5 mb-5">
    <div class="col-sm-9">
      <%= image_tag "FB-f-Logo__blue_1024.png", class: "hidden-md-up float-right ml-2", width: "15%" %>
      <h2 style="color:black;" class="mb-5">Do you follow us on Facebook?</h2>
      <p>We post fun stuff, information about our programs, and ways to save on Math Plus Programs.</p>
      <p>
        <div class="fb-follow" data-href="https://www.facebook.com/mathplusacademy" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
      </p>
    </div>
    <div class="col-sm-3 text">
      <%= image_tag "FB-f-Logo__blue_1024.png", width: "100%", class: "hidden-sm-down" %>
    </div>
  </div>
</div>

<% if Rails.env.production? %>
  <div id="facebook_pixel_tracking" data-amount="<%= '%.2f'%(@registration.total/100) %>">
  </div>
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19803817-1']);
      _gaq.push(['_addTrans', <%= @registration.id %>, 'Math Plus Academy', "" + (<%= @registration.total %>)/100 + ".00" , '0.00', '0', 'Powell', 'Ohio', 'USA']);
      _gaq.push(['_trackTrans']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
<% end %>
