<div class="container">
<h1>Listing registrations</h1>

<table class="datatable">
  <thead>
      <tr>
        <th data-class="expand">Registration Date</th>
        <th data-class="expand">Parent First Name</th>
        <th>Parent Last name</th>
        <th data-hide="phone, tablet">Parent Email</th>
        <th data-hide="phone, tablet">Parent Phone</th>
        <th data-hide="phone">Student First Name</th>
        <th data-hide="phone, tablet">Student Last Name</th>
        <th data-hide="phone, tablet">Student Grade</th>
        <th data-hide="phone, tablet"></th>
        <th data-hide="phone, tablet"></th>
        <th data-hide="phone, tablet"></th>
      </tr>
  </thead>
    <tbody>
        <% @registrations.each do |registration| %>
          <tr>
            <td><%= registration.created_at.strftime('%m/%d/%Y') %></td>
            <td><%= registration.parent_first_name %></td>
            <td><%= registration.parent_last_name %></td>
            <td><%= registration.parent_email %></td>
            <td><%= registration.parent_phone %></td>
            <td><%= registration.student_first_name %></td>
            <td><%= registration.student_last_name %></td>
            <td><%= registration.student_grade %></td>
            <td><%= link_to 'Show', registration %></td>
            <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
            <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'New Registration', new_registration_path %>
</div>