<div class="container show mt-4">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>Math Plus <%= CampOffering::YEARS[CampOffering::CURRENT_YEAR] %> Summer Camp Registration</h2>
    </div>
  </div>
  <hr class="mb-5">
  <div class="row">
    <div class="col-md-6">
      <h3><%= @registration.parent_name %></h3>
      <p>
        <%= @registration.parent_address_1 %></br>
        <% if @registration.parent_address_2%><%= @registration.parent_address_2 %></br><%end%>
        <%= @registration.parent_city %>, <%= @registration.parent_state %> <%= @registration.parent_zip %>
      </p>
      <p>
        <i class="fa fa-envelope"></i>: <%= @registration.parent_email %>
      </p>

      <p>
        <i class="fa fa-phone"></i>: <%= @registration.parent_phone %>
      </p>

      <p>
        <strong>Emergency contact name:</strong>
        <%= @registration.emergency_contact_name %>
      </p>

      <p>
        <strong>Emergency contact phone:</strong>
        <%= @registration.emergency_contact_phone %>
      </p>
      <% if @registration.referred_by %>
      <p>
        Referred by: <%= @registration.referred_by %>
      </p>
      <% end %>
      <%= render 'invoice_table' if @registration.payment_plan %>
    </div>
    <div class="col-md-6">
      <h3>Student Information</h3>
      <p>
        <strong>Name:</strong> <%= @registration.student_name %>
      </p>
      <p>
        <strong>Student grade:</strong>
        <%= @registration.student_grade %>
      </p>

      <p>
        <strong>Student allergies:</strong>
        <%= @registration.student_allergies ? @registration.student_allergies : "none" %>
      </p>
      <p>
        <strong>Regsitered Camps:</strong>
        <ul>
        <% @registration.camp_offerings.each do |offering| %>
          <li><%= offering.confirmation_name %></li>
        <% end %>
        </ul>
      </p>
      <p>
        <strong>Coupon:</strong>
        <%= @registration.coupon_code ? @registration.coupon_code : "No coupon applied." %>
      </p>
      <p>
        <strong>Payment Plan:</strong>
        <% if @registration.payment_plan %>
          <% if @registration.paid_in_full? %>
            <span style="color:green;">Paid In Full</span>
          <% else %>
            <%= @registration.payment_plan ? "<i class='fa fa-check' style='color:green;'></i> <span style='color:orange;'>Outstanding balance: $#{number_with_precision(@registration.payment_plan_balance.to_f/100, precision: 2)}</span><br> (See payments below)".html_safe : "No payment plan." %>
          <% end %>
        <% else %>
          No Payment Plan
        <% end %>
      </p>
      <p>
        <strong>Total:</strong>
        $<%= number_with_precision(@registration.total.to_f/100, precision: 2) %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <h3>Thanks for registering!<br> Let the fun begin.</h3>
    </div>
    <div class="col-md-6">
      <%= link_to 'Register Another Student', new_registration_path(registration: {
          parent_first_name: @registration.parent_first_name,
          parent_last_name: @registration.parent_last_name,
          parent_address_1: @registration.parent_address_1,
          parent_city: @registration.parent_city,
          parent_state: @registration.parent_state,
          parent_zip: @registration.parent_zip,
          parent_email: @registration.parent_email,
          parent_phone: @registration.parent_phone,
          emergency_contact_name: @registration.emergency_contact_name,
          emergency_contact_phone: @registration.emergency_contact_phone,
          location_id: @registration.location_id}
          ),
          class: 'btn btn-lg btn-blue', id: "register_another_student" %>
      <%= link_to 'Done', root_path, class: "btn btn-lg btn-red"%>
    </div>
  </div>

  <% if current_user && ( current_user.role?(:super_admin) || current_user.role?(:admin) )%>
    <div class="row mt-4">
      <div class="col-sm-12">
        <%= link_to 'Edit', edit_registration_path(@registration) %> |
        <%= link_to 'Send Confirmation', email_confirmation_path(id: @registration.id) %>
      </div>
    </div>
  <% end %>
</div>
