<div class="container show">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1>Math Plus <%= Time.now.year %> Summer Camp Registration</h1>
    </div>
  </div>
  <div class"row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <p>
        <h3><%= @registration.parent_name %></h3>
        <%= @registration.parent_address_1 %></br>
        <% if @registration.parent_address_2%><%= @registration.parent_address_2 %></br><%end%>
        <%= @registration.parent_city %>, <%= @registration.parent_state %> <%= @registration.parent_zip %>
      </p>
      <p>
        <i class="fa fa-envelope"></i>: <%= @registration.parent_email %>
      </p>

      <p>
        <i class="fa fa-phone"></i>: <%= @registration.parent_phone %>
      </p>

      <p>
        <b>Emergency contact name:</b>
        <%= @registration.emergency_contact_name %>
      </p>

      <p>
        <b>Emergency contact phone:</b>
        <%= @registration.emergency_contact_phone %>
      </p>
      <p>
        <%= link_to 'Register Another Student', new_registration_path(
        parent_first_name: @registration.parent_first_name,
        parent_last_name: @registration.parent_last_name,
        parent_address_1: @registration.parent_address_1,
        parent_city: @registration.parent_city,
        parent_state: @registration.parent_state,
        parent_zip: @registration.parent_zip,
        parent_email: @registration.parent_email,
        parent_phone: @registration.parent_phone,
        emergency_contact_name: @registration.emergency_contact_name,
        emergency_contact_phone: @registration.emergency_contact_phone,
        location: @registration.location_id
      ), class: 'btn btn-lg btn-info' %>
      </p>
      <%= link_to 'Edit', edit_registration_path(@registration) %> |
      <%= link_to 'Back', registrations_path %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h3>Student Information</h3>
      <p>
        <b>Name:</b> <%= @registration.student_name %>
      </p>
      <p>
        <b>Student grade:</b>
        <%= @registration.student_grade %>
      </p>

      <p>
        <b>Student allergies:</b>
        <%= @registration.student_allergies ? @registration.student_allergies : "none" %>
      </p>
      <p>
        <b>Regsitered Camps:</b>
        <ul>
        <% @registration.camp_offerings.each do |offering| %>
          <li><%= offering.name %></li>
        <% end %>
        </ul>
      </p>
      <p>
        <b>Total:</b>
        <%= @registration.total %>
      </p>
    </div>
  </div>
  <h3>Thanks for registering. Let the fun begin.</h3>
</div>