<div class="container">
    <h1>Listing Camp Offerings</h1>

    <p>
      Download:
      <%= link_to "CSV", camp_offerings_path(format: "csv") %>
    </p>

    <table class="datatable display responsive no-wrap"  width="100%">
      <thead>
          <tr>
            <th>Status</th>
            <th>Camp</th>
            <th>Teacher</th>
            <th>Assistant</th>
            <th>Camp Time</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Location</th>
            <th>Open Spots</th>
            <th></th>
            <th></th>
          </tr>
      </thead>
        <tbody>
            <% @camp_offerings.each do |camp_offering| %>
              <tr>
                <td class="camp_offeringtered">
                    <%=
                        camp_offering.at_capacity? ? "<span class='label label-danger'>Full</span>".html_safe : "<span class='label label-success'>Open</span>".html_safe if camp_offering
                    %>
                </td>
                <td><%= camp_offering.name %></td>
                <td><%= camp_offering.teacher %></td>
                <td><%= camp_offering.assistant %></td>
                <td><%= camp_offering.time %></td>
                <td><%= camp_offering.start_date.strftime('%b %d') if camp_offering.start_date %></td>
                <td><%= camp_offering.end_date %></td>
                <td><%= camp_offering.location.name  if camp_offering.location %></td>
                <td><%= camp_offering.open_spots %></td>
                <td><%= link_to 'Show', camp_offering %></td>
                <td><%= link_to 'Edit', edit_camp_offering_path(camp_offering) %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
    <p>
        <h3> Import Camp Offerings</h3>
          <%= form_tag import_camp_offerings_path, multipart: true do %>
            <%= file_field_tag :file %><br />
            <%= submit_tag "Import", class: 'btn btn-sm btn-default' %>
          <% end %>
    </p>
    <br />

    <%= link_to 'New Camp offering', new_camp_offering_path, class: 'btn btn-lg btn-success' %>
</div>