<div class="container">
    <h1>Listing Camp Offerings</h1>

    <p>
      Download:
      <%= link_to "CSV", camp_offerings_path(format: "csv") %>
    </p>

    <table class="table table-striped datatable display responsive no-wrap"  width="100%">
      <thead>
          <tr>
            <th>Status</th>
            <th>Camp</th>
            <th>Location</th>
            <th>Teacher</th>
            <th>Assistant</th>
            <th>Camp Time</th>
            <th>Week</th>
            <th>Start Date</th>
            <th>Year</th>
            <th>Open Spots</th>
            <th></th>
            <th></th>
          </tr>
      </thead>
        <tbody>
            <% @camp_offerings.each do |camp_offering| %>
              <tr>
                <td class="camp_offeringtered">
                    <%=
                        camp_offering.at_capacity? ? "<span class='label label-danger'>Full</span>".html_safe : "<span class='label label-success'>Open</span>".html_safe if camp_offering
                    %>
                </td>
                <td><%= camp_offering.name %></td>
                <td><%= camp_offering.location.name  if camp_offering.location %></td>
                <td><%= camp_offering.teacher %></td>
                <td><%= camp_offering.assistant %></td>
                <td><%= camp_offering.time %></td>
                <td><%= camp_offering.week %></td>
                <td><%= CampOffering::OFFERING_WEEKS[camp_offering.week][:start].strftime("%b %d") %></td>
                <td><%= CampOffering::YEARS[camp_offering.year] %></td>
                <td><%= camp_offering.open_spots %></td>
                <td><%= link_to 'Show', camp_offering %></td>
                <td><%= link_to 'Edit', edit_camp_offering_path(camp_offering) %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
    <div class="row mt-5">
      <div class="col-md-5">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title"> Import Camp Offerings</h3>
            <%= form_tag import_camp_offerings_path, multipart: true do %>
              <%= file_field_tag :file %><br />
              <%= submit_tag "Import", class: 'btn btn-sm btn-secondary mt-4' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= link_to 'New Camp offering', new_camp_offering_path, class: 'btn btn-lg btn-success mt-5' %>
</div>
