<div class='container'>
  <div class"row">
    <div class="col-lg-6 col-mg-6 col-sm-6 col-xs-12">
        <p>
          <strong>Camp:</strong>
          <%= @camp_offering.id %>: <%= @camp_offering.name %>
        </p>

        <p>
          <strong>Hidden:</strong>
          <%= @camp_offering.hidden %>
        </p>

        <p>
          <strong>Teacher:</strong>
          <%= @camp_offering.teacher %>
        </p>

        <p>
          <strong>Assistant:</strong>
          <%= @camp_offering.assistant %>
        </p>

        <p>
          <strong>Week:</strong>
          <%= @camp_offering.week %>
        </p>

        <p>
          <strong>Year:</strong>
          <%= CampOffering::YEARS[@camp_offering.year] %>
        </p>

        <p>
          <strong>Time:</strong>
          <%= @camp_offering.time %>
        </p>

        <p>
          <strong>Classroom:</strong>
          <%= @camp_offering.classroom %>
        </p>

        <p>
          <strong>Location:</strong>
          <%= @camp_offering.location.name if @camp_offering.location %>
        </p>

        <p>
          <strong>Camp Roster</strong>
          <ul>
          <% @camp_offering.registrations.each do |registration| %>
            <li><%= link_to "#{registration.student_first_name} #{registration.student_last_name}", registration, target: '_blank' %></li>
          <% end %>
          </ul>
        </p>

        <%= link_to 'Edit', edit_camp_offering_path(@camp_offering) %> |
        <%= link_to 'Back', camp_offerings_path %></div>
    </div>
  </div>
</div>
