<style type='text/css' media='print'>
  @media all {
    .page-break { display: none; }
  }

  .page-break {
    display: block; page-break-before: always;
  }

  @page {
    size: landscape;
    margin: .5in;
  }
</style>

<h2>Week <%= @week %> in <%= @location.name %></h2>

<% @camp_offerings.each do |co| %>

  <h4><%= co.name %></h4>
  <table>
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Parent Name</th>
        <th>Phone</th>
        <th>Emergency Information</th>
      </tr>
    </thead>
    <tbody>
      <% co.registrations.where(year: 1).each do |reg| %>
          <p>
            <b>Student:</b> <%= reg.student_name %> </br>
            <b>Parent/Gaurdian:</b> <%= reg.parent_name %></br>
            <b>Phone:</b> <%= reg.parent_phone %></br>
            <b>Emergency Contact:</b> <%= reg.emergency_contact_name %></br>
            <b>Emergency Contact Phone:</b> <%= reg.emergency_contact_phone %>
          </p>
      <% end %>
    </tbody>
  </table>
  <div class='page-break'></div>
<% end %>