<style type='text/css' media='print'>
  @media all {
    .page-break { display: none; }
  }

  .page-break {
    display: block; page-break-before: always;
  }

  @page {
    size: landscape;
    margin: .5in;
  }
</style>

<h2>Week <%= @week %> in <%= @location.name %></h2>

<% @camp_offerings.each do |co| %>

  <h4><%= co.name %></h4>
  <table>
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Parent/Gaurd. Name</th>
        <th>Phone</th>
        <th>Emergency Information</th>
      </tr>
    </thead>
    <tbody>
      <% co.registrations.where(year: 1).each do |reg| %>
      <tr>
        <td><%= reg.student_name %></td>
        <td><%= reg.parent_name %></td>
        <td><%= reg.parent_phone %></td>
        <td>
          <%= reg.emergency_contact_name %> <br>
          <%= reg.emergency_contact_phone %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class='page-break'></div>
<% end %>