<div class="container">
  <h1>Admin Page</h1>
  <div class="row hidden-sm hidden-xs">
    <%= link_to "Powell Registration", new_registration_path(location: "1"), class: "btn btn-warning btn-lg registration_buttons"  %>
    <%= link_to "New Albany Registration", new_registration_path(location: "2"), class: "btn btn-warning btn-lg registration_buttons" %>
    <%= link_to "Registrations List", registrations_path, class: "btn btn-primary btn-lg registration_buttons" %>
    <%= link_to "New Coupon Code", new_coupon_code_path, class: 'btn btn-default btn-lg registration_buttons' %>
    <%= link_to "Camp Offerings", camp_offerings_path, class: 'btn btn-success btn-lg registration_buttons' %>
  </div> <!-- /.row -->
  <div class="hidden-lg hidden-md admin-mobile">
    <%= render 'admin_mobile_buttons' %>
  </div> <!-- /.row -->
  <!-- ** Row One ** -->
  <div class="row">
    <div class="admin_dashboard">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class='todays_registrations'>
          <div class="header">
            <h2> Registrations today.</h2>
          </div>
          <span><%= @todays_registrations.count %></span>
        </div>
      </div><!-- /.col-lg-4 col-md-4 col-sm-12 -->
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class='todays_sales'>
          <div class="header">
            <h2>Registrations this month.</h2>
          </div>
          <span><%= @months_registrations.count %></span>
        </div> <!-- .todays_sales -->
      </div><!-- /.col-lg-4 col-md-4 col-sm-12 -->
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class='todays_registrations'>
          <div class="header">
            <h2>Number of Camps Sold</h2>
          </div>
          <span><%= @camp_off_reg_count %></span>
        </div>
      </div><!-- /.col-lg-4 col-md-4 col-sm-12 -->
    </div> <!-- admin_dashboard -->
  </div><!-- /.row -->
  <!-- ** Row Two ** -->
  <div class="row">
    <div class="admin_dashboard">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class='week_at_a_glance'>
          <div class="header">
            <h2>Week at a glance.</h2>
          </div>
          <div class="row">
            <div class="col-sm-2 col-xs-2">
              <%= simple_form_for(:info, url: camp_offerings_week_at_a_glance_path) do |f| %>
                <%= f.input :week, as: :select, collection: (1..8).to_a, required: false %>
                <%= f.input :location, collection: Location.all, required: false %>
                <%= f.submit "Go", class: 'btn btn-sm btn-success' %>
              <% end %>
            </div>
          </div>
        </div>
      </div><!-- /.col-lg-4 col-md-4 col-sm-12 -->
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class='coupon_codes'>
          <div class="header">
            <h2>Top Coupons</h2>
          </div>
          <div class="body">
            <ol>
              <% @coupon_codes_by_count.sort_by{ |hash| hash[:count] }.reverse.take(10).each do |code| %>
              <li> <%= code[:name] %> (Count: <%= code[:count] %> ) </li>
              <% end %>
            </ol>
          </div>
        </div> <!-- .todays_sales -->
      </div><!-- /.col-lg-4 col-md-4 col-sm-12 -->
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class='revenue'>
          <div class="header">
            <h2>Revenue</h2>
          </div>
          <span>$ <%= number_with_precision(@camp_revenue.to_f/100, precision: 0) %></span>
        </div>
      </div><!-- /.col-lg-4 col-md-4 col-sm-12 -->
    </div> <!-- admin_dashboard -->
  </div><!-- /.row -->
</div><!-- /.container -->