<div class="container">
  <h2 class="mt-5 mb-5">Admin Page</h2>
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="btn-group btn-block">
        <a class="btn btn-lg btn-red btn-block dropdown-toggle" href="#" data-toggle="dropdown">
          Register <span class="caret"></span>
        </a>
        <div class="dropdown-menu" role="menu">
          <% @locations.each do |location| %>
            <%= link_to location.name, new_registration_path(location: location.id), class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
      <%= link_to "Registrations", registrations_path, class: "btn btn-blue btn-lg btn-block" %>
      <%= link_to "Coupon Codes", coupon_codes_path, class: 'btn btn-white btn-lg btn-block' %>
      <%= link_to "Camps", camp_offerings_path, class: 'btn btn-green btn-lg btn-block' %>
      <div class="btn-group btn-block mb-4" role="group">
        <a href="#" class="btn btn-lg btn-purple btn-block dropdown-toggle" data-toggle="dropdown">
          Surveys
        </a>
        <div class="dropdown-menu" role="menu">
          <a class="dropdown-item" href="/camp_surveys">All Surveys</a>
          <a class="dropdown-item" href="/camp_surveys/new">New Survey</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-9">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header card-outline-danger">
              Registrations Today
            </div>
            <div class="card-block text-sm-center">
              <h2><%= @todays_registrations.count %></h2>
            </div>
          </div>
        </div><!-- /.col-md-4 -->
      </div>
      <div class="row mt-2">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header card-outline-success">
              Registrations This Month
            </div>
            <div class="card-block text-sm-center">
              <h2><%= @months_registrations.count %></h2>
            </div>
          </div>
        </div><!-- /.col-sm-12 -->
      </div>
      <div class="row mt-2">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header card-outline-info">
              Number of Camps Sold
            </div>
            <div class="card-block text-sm-center">
              <h2><%= @camp_off_reg_count %></h2>
            </div>
          </div>
        </div><!-- /.col-sm-12 -->
      </div>
    </div>
  </div> <!-- /.row -->
  <!-- ** Row Two ** -->
  <div class="row">
    <div class="col-md-4 mt-2">
        <div class="card">
          <div class="card-header card-outline-primary">
            Week at a glance
          </div>
          <div class="card-block">
            <div class="col-sm-12">
              <%= simple_form_for(:info, url: camp_offerings_week_at_a_glance_path) do |f| %>
                <%= f.input :week, as: :select, collection: (1..9).to_a, required: false %>
                <%= f.input :location, collection: Location.all, required: false %>
                <%= f.submit "Go", class: 'btn btn-sm btn-success' %>
              <% end %>
            </div>
          </div>
        </div>
    </div><!-- /.col-md-4 -->
    <div class="col-md-4 mt-2">
        <div class="card">
          <div class="card-header card-outline-secondary">
            Top Coupons
          </div>
          <div class="card-block">
            <ol>
              <% @coupon_codes_by_count.sort_by{ |hash| hash[:count] }.reverse.take(10).each do |code| %>
              <li> <%= code[:name] %> (Count: <%= code[:count] %> ) </li>
              <% end %>
            </ol>
          </div>
        </div>
    </div><!-- /.col-md-4 -->
    <% if current_user.roles.any?{ |role| role.name == "SuperAdmin"} %>
    <div class="col-md-4 mt-2">
        <div class="card">
          <div class="card-header card-outline-warning">
            Revenue
          </div>
          <div class="card-block revenue text-sm-center">
            <p><%= link_to "Show", "javaScript:void(0)", id: "revenue_link" %></p>
            <span style="display:none;">
              <h2>$ <%= number_with_precision(@camp_revenue.to_f/100, precision: 0) %></h2>
            </span>
            <span style="font-size: 1em;
            <% if @percent_different <= 0.to_f %>
              color:red;
            <% elsif @percent_different == 0 || @percent_different.nan? %>

            <% else %>
              color:green;
            <% end %>
          "><%= @percent_different.nan? ? "" : "#{@percent_different.round(2)}%" %></span>
          </div>
        </div>
    </div><!-- /.col-md-4 -->
    <% end %>
  </div><!-- /.row -->
</div><!-- /.container -->
