<div class='row'>
  <div class='col-sm-12 col-xs-12'>
    <%= link_to "Powell Registration", new_registration_path(location: "1"), class: "btn btn-warning btn-lg registration_buttons mobile"  %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12 col-xs-12'>
  <%= link_to "New Albany Registration", new_registration_path(location: "2"), class: "btn btn-warning btn-lg registration_buttons mobile" %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12 col-xs-12'>
    <%= link_to "Registrations List", registrations_path, class: "btn btn-primary btn-lg registration_buttons mobile" %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12 col-xs-12'>
    <%= link_to "Coupon Codes", coupon_codes_path, class: 'btn btn-default btn-lg registration_buttons mobile' %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12 col-xs-12'>
    <%= link_to "Camp Offerings", camp_offerings_path, class: 'btn btn-success btn-lg registration_buttons mobile' %>
  </div>
</div>