<div id="headerwrap">
  <div class="main" style="border-bottom:solid 9px black;">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <%= image_tag "home_page/summercamp_2016_main_title.png", width: '100%', class: "main-image responsive" %>
          <div class="main-title">
            For Kids Who Love Tech<br>
          </div> <!-- /.main-title -->
          <div class="main-sub-title">
            Or who want to &hellip; ;)
          </div>
          <div class="main-buttons">
            <%= link_to "Schedule By Location", locations_path, class: "btn btn-lg btn-orange" %>
          </div>
          <div class="main-grades">
            Grades K-8 &bull; Full Day &amp; Half
          </div>
        </div>
      </div><!-- /row -->
    </div><!-- /.container -->
  </div><!-- /.main -->
  <div class="container">
    <div class="row">
      <div class="after_main_section">
        Most tech camps are expensive and packed full of campers. We max out at 10 students &amp; hire licensed teachers &amp; industry professionals.
      </div>
    </div><!-- /row -->
  </div><!-- /.container -->
  <div class="row">
    <div class="main-location">
    </div>
  </div>
</div><!-- /.headerwrap -->
<div class="container" style="margin-bottom:70px;">
  <div class="row locations">
    <div class="col-md-4 col-xs-12 text-center hilliard">
      <%= link_to new_registration_path(location: 3) do %>
        <h2>Hilliard</h2>
      <% end %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center new-albany">
      <%= link_to new_registration_path(location: 2) do %>
        <h2>New Albany</h2>
      <% end %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center powell">
      <%= link_to new_registration_path(location: 1) do %>
        <h2>Powell</h2>
      <% end %>
    </div>
  </div>
</div>

  <div class="container">
    <!-- ** Math Plus Camp Advantage ** -->
    <div class="row mt centered" >
      <div class="col-lg-6 col-lg-offset-3">
        <h1>The Math Plus Camp Advantage.</h1>
        <h3>We work tirelessly to find fun ways to help engage students of all ages in the fields of Mathematics and Technology.</h3>
      </div> <!-- /.col-lg-6 .col-lg-offset-3 -->
    </div><!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-4">
        <i class="fa fa-gears fa-5x"></i>
        <h2>Hands-on, Minds-on</h2>
        <p>
          Catered to your child's unique interests.
        </p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-group fa-5x"></i>
        <h2>Highly Qualified Instructors</h2>
        <p>
          They're good and they love STEM.
        </p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-sort-amount-desc fa-5x"></i>
        <h2>Small Camp Sizes</h2>
        <p>
          8-10 students per camp.
        </p>
      </div><!--/col-lg-4 -->
    </div><!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-4">
        <i class="fa fa-comments-o fa-5x"></i>
        <h2>100% Satisfaction</h2>
        <p>
          Over 1,000 happy students served.
        </p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-calendar fa-5x"></i>
        <h2>Flexible Scheduling</h2>
        <p>
          Change camps at any time.
        </p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-usd fa-5x"></i>
        <h2>Satisfaction Guarantee</h2>
        <p>
          If your child is not happy with the camp we'll happily issue a full refund.
        </p>
      </div><!--/col-lg-4 -->
    </div><!-- /row -->

    <%= render 'compare_button' %>

    <div class"row mt">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
      </div>
    </div>

    <!-- ** Camp Information ** -->
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h2>Our Camps</h2>
        <h3>Duration: 1 Week (M-F)</h3>
        <p>Check schedule for start and end times.</p>
      </div> <!-- /.col-lg-6 .col-lg-offset-3 -->
    </div><!-- /row -->
    <!-- ** Row 1 ** -->
    <div class="row mt centered">
      <div class="col-lg-4">
        <%= link_to("#camp10Modal", :data => {:toggle=>"modal"}) do %>
          <div class="circle_base type_1">
            <%= image_tag('life-size-choc-fix-150x150.jpg')%>
          </div>
          <h2>Brain Games</h2>
        <p>Ages: 6-8 & 9-12 Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#camp1Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('robotics.png', size: '150x150')%>
        </div>
        <h2>LEGO Robotics</h2>
        <p>Ages: 9-14 Full-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#camp5Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('video_game.png', size: '150x150')%>
        </div>
        <h2>Video Game Design</h2>
        <p>Ages: 9-14 Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
    </div>

    <!-- ** Row 2 ** -->
    <div class="row mt centered">
      <div class="col-lg-4">
        <%= link_to("#camp12Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('engineering.png', size: '150x150')%>
        </div>
        <h2>LEGO Engineering</h2>
        <p>Ages: 6-8 Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#camp14Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('shark_tank.jpg', size: '150x150')%>
        </div>
        <h2>Shark Tank</h2>
        <p>Ages: 10-14 Full-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#camp6Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('chess.png', size: '150x150')%>
        </div>
        <h2>Chess</h2>
        <p>Ages: 5-14 Full-Day and Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
    </div>

    <!-- ** Row 3 ** -->
    <div class="row mt centered">
      <div class="col-lg-4">
        <%= link_to("#camp4Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('programming.png', size: '150x150')%>
        </div>
        <h2>Computer Programming</h2>
        <p>Ages: 9-13 Full-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#camp2Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('web_design.png', size: '150x150')%>
        </div>
        <h2>Web Design</h2>
        <p>Ages: 10-14 Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#camp3Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('inventors.png', size: '150x150')%>
        </div>
        <h2>Inventor's Workshop</h2>
        <p>Ages: 10-14 Full-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
    </div>

    <!-- ** Row 4 ** -->
    <div class="row mt centered">
      <div class="col-lg-4">
        <%= link_to("#camp9Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('prealgebraprep.png', size: '150x150')%>
        </div>
        <h2>Pre-Algebra Prep</h2>
        <p>Ages: 11-13 Half-Day</p>
        <p></p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#camp8Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('kickstartkindergarten.png', size: '150x150')%>
        </div>
        <h2>Kickstart Kindergarten</h2>
        <p>Ages: 4-5 Half-Day</p>
        <p></p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#girlsOnlyModal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('prealgebraprep.png', size: '150x150')%>
        </div>
        <h2>Girls Only Camps</h2>
        <p>Ages: 10-14 Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
    </div>

    <%= render 'compare_button' %>

    <!-- <div class="row mt centered">
      <h1>Register now!</h1>
      <%# render 'registration_buttons' %>
    </div> -->

    <%= render '/registrations/camp_modals' %>

  <!-- girlsOnlyModal -->
  <div class="modal fade" id="girlsOnlyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title" id="myModalLabel">Girls Only Camps</h2>
        </div>
        <div class="modal-body">
          <h3>
            We offer girls only camps for Website Design, Video Game Design, and Robotics.
          </h3>
          <p>
            In 2016 we have a great selection of GIRLS ONLY camps at each location!
          </p>
          <h3>View Schedules</h3>
          <%= render '/pages/registration_buttons' %>
        </div><!-- .modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
<!-- /container -->
