<div class="col-xs-12">
<div id="headerwrap">
  <div class="main" style="border-bottom:solid 9px black;">
    <div class="white-bg">
      <div class="row text-sm-center text-lg-left">
        <div class="col-lg-6 col-xs-12 text-xs-center">
          <%= image_tag "home_page/summercamp_2016_main_title.png", width: '100%' %>
          <div class="main-title">
            For Kids Who Love Tech
          </div> <!-- /.main-title -->
          <%= image_tag "home_page/kids_at_the_table.svg", width: '50%', class: 'hidden-lg-up' %>
          <div class="main-buttons">
            <%= link_to "Schedule By Location", locations_path, class: "btn btn-lg btn-orange main-schedule" %>
          </div>
          <div class="main-grades">
            Grades K-8 &bull; Full Day &amp; Half
          </div>
        </div><!-- /.col-sm-6 .col-xs-12 -->
        <div class="col-sm-6 col-xs-12 hidden-md-down">
          <div class="col-sm-12"><%= image_tag "home_page/kids_at_the_table.svg" %></div>
        </div><!-- /.col-sm-6 .col-xs-12 -->
      </div><!-- /.row -->
    </div>
  </div><!-- /.main -->
  <div class="row">
      <div id="installment-offer" class="col-sm-12 text-xs-center" style="display:none;">
        <div class="col-sm-12">
          <h3><span style="color:green;margin-right:20px;">Now offering!</span> 3-month payment plan for registrations over $250.</h3>
        </div>
        <hr>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="after_main_section">
        We max out at 10 students &amp; hire licensed teachers &amp; industry professionals.
      </div>
    </div><!-- /row -->
  </div><!-- /.container -->
  <div class="row">
    <div class="main-location">

    </div>
  </div>
</div><!-- /.headerwrap -->
<div class="container" style="margin-bottom:70px;">
  <div class="row">
    <div class="col-sm-12 text-sm-center">
      <h3 class="location-select"><i>Select Location For Schedule</i></h3>
    </div>
  </div>
  <%= render 'locations/select_location' %>
</div>
<div class="reminder">
  <div class="row">
    <div class="col-sm-12 centered">
      <div class="reminder-header">I can't register right now, but I would love a reminder!</div>
        <form accept-charset="UTF-8" action="https://jmrmath.infusionsoft.com/app/form/process/69050ced480ca23de310e59c6bf16b91" class="infusion-form form-inline"
        method="POST">
        <div class="col-sm-8 offset-sm-2">
          <input name="inf_form_xid" type="hidden" value="69050ced480ca23de310e59c6bf16b91" />
          <input name="inf_form_name" type="hidden" value="Asks For Reminder" />
          <input name="infusionsoft_version" type="hidden" value="1.50.0.38" />
          <input class="form-control infusion-field-input-container" id="inf_field_FirstName" name="inf_field_FirstName" type="text" placeholder="First Name" />
          <input class="form-control infusion-field-input-container" id="inf_field_LastName" name="inf_field_LastName" type="text" placeholder="Last Name" />
          <input class="form-control infusion-field-input-container" id="inf_field_Email" name="inf_field_Email" type="text" placeholder="Email"/><br>
          <input class="btn btn-purple btn-lg" type="submit" value="Submit" />
        </div>
      </form>
      <script type="text/javascript" src="https://jmrmath.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=923aa331612576ad9a3e1f7a3e09d881"></script>
    </div>
  </div>
</div>


  <div class="container">
    <!-- ** Math Plus Camp Advantage ** -->
    <div class="row mt centered" >
      <div class="col-lg-10 offset-lg-1">
        <h1 class="hidden-sm-down">The Math Plus Camp Advantage.</h1>
        <h2 class="hidden-md-up">The Math Plus Camp Advantage.</h2>
        <h3 class="hidden-sm-down">We work tirelessly to find fun ways to help engage students of all ages in the fields of Mathematics and Technology.</h3>
      </div> <!-- /.col-lg-6 .col-lg-offset-3 -->
    </div><!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-4">
        <i class="fa fa-gears fa-5x"></i>
        <h2 class="camps-blue">Hands-on, Minds-on</h2>
        <p>
          Catered to your child's unique interests.
        </p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-group fa-5x"></i>
        <h2 class="camps-red">Highly Qualified Instructors</h2>
        <p>
          They're good and they love STEM.
        </p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-sort-amount-desc fa-5x"></i>
        <h2 class="camps-green">Small Camp Sizes</h2>
        <p>
          8-10 students per camp.
        </p>
      </div><!--/col-lg-4 -->
    </div><!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-4">
        <i class="fa fa-comments-o fa-5x"></i>
        <h2 class="camps-orange">100% Satisfaction</h2>
        <p>
          Over 1,000 happy students served.
        </p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-calendar fa-5x"></i>
        <h2 class="camps-purple">Flexible Scheduling</h2>
        <p>
          Change camps at any time.
        </p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-usd fa-5x"></i>
        <h2 class="camps-yellow-light">Satisfaction Guarantee</h2>
        <p>
          If your child is not happy with the camp we'll happily issue a full refund.
        </p>
      </div><!--/col-lg-4 -->
    </div><!-- /row -->

    <%= render 'compare_button' %>

    <div class"row mt">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
      </div>
    </div>

    <!-- ** Camp Information ** -->
    <div class="row mt centered">
      <div class="col-lg-6 offset-lg-3 text-xs-center">
        <h1>Our Camps</h1>
        <h3><small>Duration:</small> 1 Week (M-F)</h3>
        <p>Check schedule for start and end times.</p>
      </div> <!-- /.col-lg-6 .col-lg-offset-3 -->
    </div><!-- /row -->
    <!-- ** Row 1 ** -->
    <div class="row mt centered">
      <div class="col-lg-4">
        <%= link_to("#camp10Modal", :data => {:toggle=>"modal"}) do %>
          <div class="circle_base type_1">
            <%= image_tag('life-size-choc-fix-150x150.jpg')%>
          </div>
          <h2>Brain Games</h2>
        <p>Ages: 6-8 &amp; 9-12 Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#camp1Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('robotics.png', size: '150x150')%>
        </div>
        <h2>LEGO Robotics</h2>
        <p>Ages: 9-13 Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#camp5Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('video_game.png', size: '150x150')%>
        </div>
        <h2>Video Game Design</h2>
        <p>Ages: 9-13 Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
    </div>

    <!-- ** Row 2 ** -->
    <div class="row mt centered">
      <div class="col-lg-4">
        <%= link_to("#camp12Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('engineering.png', size: '150x150')%>
        </div>
        <h2>LEGO Engineering</h2>
        <p>Ages: 6-8 Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#camp14Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('shark_tank.jpg', size: '150x150')%>
        </div>
        <h2>Shark Tank</h2>
        <p>Ages: 9-13 Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#camp6Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('chess.png', size: '150x150')%>
        </div>
        <h2>Chess</h2>
        <p>Ages: 5-14 Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
    </div>

    <!-- ** Row 3 ** -->
    <div class="row mt centered">
      <div class="col-lg-4">
        <%= link_to("#camp4Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('programming.png', size: '150x150')%>
        </div>
        <h2>Programming</h2>
        <p>Ages: 9-13 Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#camp2Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('STEMcraft.png', size: '150x150')%>
        </div>
        <h2>Minecraft</h2>
        <p>Ages: 9-13 Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#camp3Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('inventors.png', size: '150x150')%>
        </div>
        <h2>3D Printing</h2>
        <p>Ages: 9-13 Full-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
    </div>

    <!-- ** Row 4 ** -->
    <div class="row mt centered">
      <div class="col-lg-4">
        <%= link_to("#camp9Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('prealgebraprep.png', size: '150x150')%>
        </div>
        <h2>Pre-Algebra Prep</h2>
        <p>Ages: 10-12 Half-Day</p>
        <p></p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#camp8Modal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('kickstartkindergarten.png', size: '150x150')%>
        </div>
        <h2>Kickstart Kindergarten</h2>
        <p>Ages: 4-5 Half-Day</p>
        <p></p>
        <% end %>
      </div><!--/col-lg-4 -->
      <div class="col-lg-4">
        <%= link_to("#girlsOnlyModal", :data => {:toggle=>"modal"}) do %>
        <div class="circle_base type_1">
          <%= image_tag('girls_only.png', size: '150x150')%>
        </div>
        <h2>Girls Only Camps</h2>
        <p>Ages: 9-13 Half-Day</p>
        <% end %>
      </div><!--/col-lg-4 -->
    </div>

    <%= render 'compare_button' %>

</div>

    <%= render '/registrations/camp_modals' %>

  <!-- girlsOnlyModal -->
  <div class="modal fade" id="girlsOnlyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="myModalLabel">Girls Only Camps</h3>
        </div>
        <div class="modal-body">
          <h4>
            We offer girls only camps for Maker Camp, Video Game Design, Minecraft and Robotics.
          </h4>
          <p>
            In 2017 we have a great selection of GIRLS ONLY camps at each location! Look for this logo <span><%= image_tag('girls_only-02.svg', size: '50') %></span>
          </p>
          <hr>
          <%= render '/pages/registration_buttons' %>
        </div><!-- .modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
<!-- /container -->
