<% if DateTime.now < (DateTime.civil(2022,2,1,0,0,0)) %>
  <div class="alert centered" style="background:#f4e9a2;border-bottom:solid 1px #a8a8a8;border-top:solid 1px #a8a8a8;">
  Summer camp registration opens February 1, 2020 at 12:01am
  </div>
<% end %>
<div id="headerwrap">
  <div class="row" style="overflow:hidden;">
    <div class="main">
      <div class="main-title">
        Re-Ignite The Joy of Learning This Summer!
      </div> <!-- /.main-title -->
      <div class="main-grades">
        Weekly, Online Summer Camps for Ages 5-15
      </div>
      <div class="main-sub-title">
        <ul>
          <li><strong>Fun tech and math</strong> camps<br />
          <li><strong>Live</strong> instruction<br />
          <li><strong>Inspiring, highly trained</strong> teachers<br />
          <li><strong>At-home activities</strong> included<br />
          <li><strong>Individualized attention</strong><br />
          <li><strong>Prepare to excel</strong> in the fall<br />
        </ul>
        <div class="main-grades">
            <span style="color:LawnGreen">Camps sold out in 4 weeks last year! Register Now!</span>
        </div>

        <!-- <div style="width:50%;text-align:center; margin-top:35px;">Register Below<br /><i class="fa fa-chevron-down" style="font-size:2em;color:#bbb;"></i></div> -->
        <%= link_to "Online Camps", new_registration_path(location: 7), class: "btn btn-lg btn-orange main-schedule" %>

        <%= link_to "Powell Ohio Camps", new_registration_path(location: 1), class: "btn btn-lg btn-orange main-schedule" %>

      </div>
    </div>
  </div><!-- row -->
</div>

<div class="container">
    <div class="row mt centered">
      <div class="col-lg-6">
        <div class="card h-100">
          <div class="card-header">
            <h3 class="card-title">Innovation Labs</h3>
          </div>
          <div class="card-body" style="padding:15px;">
            <div class="card-text">
      				<div style="margin-bottom:15px;margin-top:15px;" class="circle_base type_1">
      					<%= image_tag('vgd.jpg', size: '150x150')%>
      				</div>
      				<h3>Ignite a new interest!</h3>
              Learn new tech skills.<br />
              No prior experience required.<br /><br />

              <% @activecamps.each do |camp| %>
                <% if camp.title.include? "Innov" %>
                  <%= link_to (camp.short_name+"<small style='color:gray;'> Ages: "+camp.age+"</small>").html_safe, "#camp#{camp.id}Modal", "data-toggle" => "modal" %>
                    <% if camp.online %>
                      <div class="badge badge-success" style="margin-bottom:15px;">Online</div>
                    <% else %>
                      <span class="badge badge-primary" style="margin-bottom:15px;">In-Person</span>
                    <% end %>
                  <br />
                <% end %>
              <% end %>
              <!-- <br /><br />Daily 90 minute sessions plus engaging at-home extensions. -->
            </div>
          </div><!--/col-lg-4 -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card h-100">
          <div class="card-header">
            <h3 class="card-title">Creator Studios</h3>
          </div>
          <div class="card-body" style="padding:15px;">
            <div class="card-text">
              <div style="margin-bottom:15px; margin-top:15px;" class="circle_base type_1">
                <%= image_tag('prealgebraprep.png', size: '150x150')%>
              </div>
              <h3>Spark your child's creativity!</h3>
              Create art, videos, and more!<br />
              No prior experience required.<br /><br />
              <% @activecamps.each do |camp| %>
                <% if camp.title.include? "Creator" %>
                  <%= link_to (camp.short_name+"<small style='color:gray;'> Ages: "+camp.age+"</small>").html_safe, "#camp#{camp.id}Modal", "data-toggle" => "modal" %>
                    <% if camp.online %>
                      <div class="badge badge-success" style="margin-bottom:15px;">Online</div>
                    <% else %>
                      <span class="badge badge-primary" style="margin-bottom:15px;">In-Person</span>
                    <% end %>
                  <br />
                <% end %>
              <% end %>
              <!-- <br /><br />Daily 90 minute sessions plus engaging at-home extensions. -->
            </div><!--/col-lg-4 -->
          </div>
        </div>
      </div><!--/col-lg-4 -->
    </div>

    <div class="row mt centered">
      <div class="col-lg-6">
        <div class="card h-100">
          <div class="card-header">
            <h3 class="card-title">Brain Games</h3>
          </div>
          <div class="card-body" style="padding:15px;">
            <div class="card-text">
        			<div style="margin-bottom:15px; margin-top:15px;" class="circle_base type_1">
        				<%= image_tag('puzzles.jpg', size: '150x150')%>
        			</div>
    			    <h3>Be a master problem solver!</h3>
              Apply <em>previously learned</em> math concepts while playing with puzzles and games together.<br /><br />
              <% @activecamps.each do |camp| %>
                <% if camp.title.include? "Brain" %>
                  <%= link_to (camp.short_name+"<small style='color:gray;'> Ages: "+camp.age+"</small>").html_safe, "#camp#{camp.id}Modal", "data-toggle" => "modal" %>
                    <% if camp.online %>
                      <div class="badge badge-success" style="margin-bottom:15px;">Online</div>
                    <% else %>
                      <span class="badge badge-primary" style="margin-bottom:15px;">In-Person</span>
                    <% end %>
                  <br />
                <% end %>
              <% end %>
              <!-- <br /><br />Two 60 minute, daily sessions plus fun at-home activities. -->
            </div><!--/col-lg-4 -->
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card h-100">
          <div class="card-header">
            <h3 class="card-title">Jumpstart</h3>
          </div>
          <div class="card-body" style="padding:15px;">
            <div class="card-text">
              <div style="margin-bottom:15px; margin-top:15px;" class="circle_base type_1">
        				<%= image_tag('prealgebraprep.png', size: '150x150')%>
        			</div>
              <h3>Get ready for school.</h3>
              Build understanding and gain mastery of grade level core curriculum.<br /><br />
              <% @activecamps.each do |camp| %>
                <% if camp.title.include? "Jumpstart" %>
                  <%= link_to (camp.short_name+"<small style='color:gray;'> Ages: "+camp.age+"</small>").html_safe, "#camp#{camp.id}Modal", "data-toggle" => "modal" %>
                    <% if camp.online %>
                      <div class="badge badge-success" style="margin-bottom:15px;">Online</div>
                    <% else %>
                      <span class="badge badge-primary" style="margin-bottom:15px;">In-Person</span>
                    <% end %>
                  <br />
                <% end %>
              <% end %>
              <!-- <br /><br />Two 60 minute daily sessions plus at-home practice assignments. -->
            </div><!--/col-lg-4 -->
          </div>
        </div>
      </div><!--/col-lg-4 -->
    </div><!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-12">
        <h2>Register Now</h2>
        <%= link_to "Online Camps", new_registration_path(location: 7), class: "btn btn-lg btn-orange main-schedule" %>

        <%= link_to "Powell Ohio Camps", new_registration_path(location: 1), class: "btn btn-lg btn-orange main-schedule" %>
      </div>
    </div>

    <div class="container border border-dark rounded" style="background:WhiteSmoke;padding:15px;">
      <div class="row mt centered">
        <div class="col-lg-10 mx-auto">
          <h2>What Parents Say...</h2>
        </div>
      </div>
      <div class="row mt centered">
        <div class="col-lg-3">
          <em>"Lucas has very much enjoyed both Math Plus Academy camps he has been a part of and looks forward to another fun camp next week (Coding 101: Games). <strong>All of the instructors are definitely making it exciting to work with these programs and we’ve been very impressed.</strong>"</em><br />
        </div>
        <div class="col-lg-3">
          <em>"<strong>Online Tech: Minecraft camp was literally my son’s favorite class/ camp that he’s done in life</strong> (per him) in school or out of school. Thanks!!!"</em><br />
        </div>
        <div class="col-lg-3">
          <em>"Brain Games: Multiplication/Divison was great! I loved that the student to teacher ratio was small. <strong>My child was challenged and I could see him struggling with the content but in a good way.</strong> The puzzles put a lot of context around the multiplication and division concepts and he totally gets them now. Thank you to all of you for organizing an enriching course."</em><br />
        </div>
        <div class="col-lg-3">
          <em>"<strong>This camp really opened my son's eyes to an entirely new field.</strong> He continues to write new programs at home. Thanks for inspiring him!"</em><br />
        </div>
      </div>
    </div>

    <div class="container" style="padding:15px;">
      <div class="row mt centered">
        <div class="col-lg-12 mx-auto">
          <h2>Founder: Dr. Raj Shah</h2>
        </div>
      </div>
      <div class="row mt centered">
        <div class="col-lg-4 offset-lg-1">
          <%= image_tag('Raj-Shah-portrait-circle.png', size: '250x250')%>
        </div>
        <div class="col-lg-7">
          <strong>I'm on a mission to make math irresistible for all.</strong><br />
          Powered by my love of math, I earned a Ph.D. in Physics in 1999 which led to a decade in R&D at Intel.
          In 2008, I was struggling to find an effective math enrichment program for my 5 year-old son. So, I quit my job and spent three years developing a powerful curriculum and pedagogy designed to make your child think deeply about mathematics.
        </div>
      </div>
    </div>
</div>

<div class="container">
  <div class="row mt centered">
    <div class="col-lg-12">
      <h2>Don't let your child waste the summer</h2>
        <h3>...consumed by social media and video games
        <h3>...bored out of their minds
        <h3>...forgetting everything they learned<br />
          <%= link_to "Online Camps", new_registration_path(location: 7), class: "btn btn-lg btn-orange main-schedule" %>

          <%= link_to "Powell Ohio Camps", new_registration_path(location: 1), class: "btn btn-lg btn-orange main-schedule" %>
    </div>
  </div>
</div>

<div class"row">
  <hr>
</div>

<div class="container">
  <div class="row mt centered" >
    <div class="col-lg-12">
      <h2>Enroll in 3 Easy Steps!</h2>
    </div> <!-- /.col-lg-10 .col-lg-offset-1 -->
  </div><!-- /row -->

  <div class="row mt centered">
    <div class="col-lg-4">
      <i class="fa fa-book fa-5x"></i>
      <h3>1. Find interesting camps</h3>
      <p>
        View camp catalog below
      </p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <i class="fa fa-group fa-5x"></i>
      <h3>2. Choose a location</h3>
      <p>
        a) Powell, Ohio<br>
        b) Online
      </p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <i class="fa fa-comments-o fa-5x"></i>
      <h3>3. Tell your friends.</h3>
      <p>
        Camps are more fun with friends!
      </p>
    </div><!--/col-lg-4 -->
  </div><!-- /row -->
</div><!-- /container -->

<div class"row">
  <hr>
</div>

<div class="container">
  <!-- ** Math Plus Camp Advantage ** -->
  <div class="row mt centered" >
    <div class="col-lg-12">
      <h2>The Math Plus Advantage</h2>
      <!-- <h2 class="hidden-md-up">The Math Plus Advantage.</h2> -->
      <!-- <h3 class="hidden-sm-down">We work tirelessly to find fun ways to help engage students of all ages in the fields of Mathematics and Technology.</h3> -->
    </div> <!-- /.col-lg-6 .col-lg-offset-3 -->
  </div><!-- /row -->

  <div class="row mt centered">
    <div class="col-lg-4">
      <i class="fa fa-gears fa-5x"></i>
      <h3 class="camps-blue">Hands-on, Minds-on</h3>
      <p>
        Enhance your child's passion with engaging, interactive camps
      </p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <i class="fa fa-group fa-5x"></i>
      <h3 class="camps-red">Highly Qualified Instructors</h3>
      <p>
        They're well trained and they love math and technology.
      </p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <i class="fa fa-sort-amount-desc fa-5x"></i>
      <h3 class="camps-green">Small Camp Sizes</h3>
      <p>
        No more than 10 students per camp.
      </p>
    </div><!--/col-lg-4 -->
  </div><!-- /row -->

  <div class="row mt centered container">
    <div class="col-lg-4">
      <i class="fa fa-comments-o fa-5x"></i>
      <h3 class="camps-orange">98.7% Satisfaction</h3>
      <p>
        Over 4,000 happy campers.
      </p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <i class="fa fa-calendar fa-5x"></i>
      <h3 class="camps-purple">Flexible Scheduling</h3>
      <p>
        Something came up? No problem, switch camps at any time.
      </p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <i class="fa fa-usd fa-5x"></i>
      <h3 class="camps-yellow">Satisfaction Guarantee</h3>
      <p>
        If your child does not enjoy camp, we'll happily issue a full refund.
      </p>
    </div><!--/col-lg-4 -->
  </div><!-- /row -->

  <%= render 'compare_button' %>
</div>

<script>
  fbq('track', 'ViewContent');
</script>

<!-- <div class = "reminder">
  <div class="row">
    <div class="col-sm-12 centered">
      <div class="reminder-header">I can't register right now, but I would love a reminder!</div>
        <%# render '/registrations/activecampaign_form' %>
    </div>
  </div>
</div> -->
<!-- <div class="reminder">
  <div class="row">
    <div class="col-sm-12 centered">
      <div class="reminder-header">I can't register right now, but I would love a reminder!</div>
      <form accept-charset="UTF-8" action="https://jmrmath.infusionsoft.com/app/form/process/69050ced480ca23de310e59c6bf16b91" class="infusion-form form-inline"
      method="POST">
      <div class="col-sm-8 offset-sm-2">
        <input name="inf_form_xid" type="hidden" value="69050ced480ca23de310e59c6bf16b91" />
        <input name="inf_form_name" type="hidden" value="Asks For Reminder" />
        <input name="infusionsoft_version" type="hidden" value="1.50.0.38" />
        <input class="form-control infusion-field-input-container" id="inf_field_FirstName" name="inf_field_FirstName" type="text" placeholder="First Name" />
        <input class="form-control infusion-field-input-container" id="inf_field_LastName" name="inf_field_LastName" type="text" placeholder="Last Name" />
        <input class="form-control infusion-field-input-container" id="inf_field_Email" name="inf_field_Email" type="text" placeholder="Email"/><br>
        <input class="btn btn-purple btn-lg" type="submit" value="Submit" />
      </div>
      </form>
      <script type="text/javascript" src="https://jmrmath.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=923aa331612576ad9a3e1f7a3e09d881"></script>
    </div>
  </div>
</div> -->

<!-- /container -->
