<div style='margin:0 0 15px 0' class="button-group">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centered md-lg-buttons hidden-xs-down">
      <%= link_to "Powell Schedule", new_registration_path(location: "1"), class: "btn btn-orange btn-lg registration_buttons"  %>
      <%= link_to "New Albany Schedule", new_registration_path(location: "2"), class: "btn btn-orange btn-lg registration_buttons" %>
      <%= link_to "Hilliard Schedule", new_registration_path(location: "3"), class: "btn btn-orange btn-lg registration_buttons" %>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centered hidden-sm-up">
      <%= link_to "Powell Schedule", new_registration_path(location: "1"), class: "btn btn-orange btn-lg registration_buttons mobile-buttons"  %>
      <%= link_to "New Albany Schedule", new_registration_path(location: "2"), class: "btn btn-orange btn-lg registration_buttons mobile-buttons" %>
      <%= link_to "Hilliard Schedule", new_registration_path(location: "3"), class: "btn btn-orange btn-lg registration_buttons mobile-buttons" %>
  </div>
</div><!-- /.button-group -->
