<% if user_signed_in? %>
<div class="container">
  <h1>Admin Page</h1>
  <div class="row">
    <%= link_to "Powell Registration", new_registration_path(location: "1"), class: "btn btn-warning btn-lg registration_buttons"  %>
    <%= link_to "New Albany Registration", new_registration_path(location: "2"), class: "btn btn-warning btn-lg registration_buttons mobile" %>
    <%= link_to "New Coupon Code", new_coupon_code_path, class: 'btn btn-default btn-lg' %>
  </div> <!-- /.row -->
  <div class="row">
    <div class="admin_dashboard">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class='todays_registrations'>
          <div class="header">
            <h2> Registrations today.</h2>
          </div>
          <span><%= @todays_registrations.count %></span>
        </div>
      </div><!-- /.col-lg-4 col-md-4 col-sm-12 -->
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class='todays_sales'>
          <div class="header">
            <h2>Header 2</h2>
          </div>
          <span></span>
        </div>
      </div><!-- /.col-lg-4 col-md-4 col-sm-12 -->
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class='todays_registrations'>
          <div class="header">
            <h2>Header 3</h2>
          </div>
        </div>
      </div><!-- /.col-lg-4 col-md-4 col-sm-12 -->
      </div> <!-- admin_dashboard -->
  </div><!-- /.row -->
</div><!-- /.container -->
<% else %>
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 sun visible-sm visible-xs">
        <i style="color:yellow;" class="fa fa-sun-o fa-5x fa-5x"></i>
      </div><!-- /col-lg-12 sun visible-sm ... -->
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="hidden-sm hidden-xs">
          <h1>Summer is comming,<br/>
            thankfully :)</h1>
        </div>
        <div class="visible-sm visible-xs centered mobile-sun">
          <h1>Summer is comming, thankfully :)</h1>
        </div>
        <div class="button-group">
          <div class="row header_buttons">
            <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 centered md-lg-buttons hidden-xs">
                <%= link_to "Powell Registration", new_registration_path(location: "1"), class: "btn btn-warning btn-lg registration_buttons"  %>
                <%= link_to "New Albany Registration", new_registration_path(location: "2"), class: "btn btn-warning btn-lg registration_buttons mobile" %>
            </div>
            <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 centered visible-xs">
                <%= link_to "Powell Registration", new_registration_path(location: "1"), class: "btn btn-warning btn-lg registration_buttons mobile-buttons"  %>
                <%= link_to "New Albany Registration", new_registration_path(location: "2"), class: "btn btn-warning btn-lg registration_buttons mobile-buttons" %>
            </div>
          </div>
          <div class="row header_buttons">
            <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 centered hidden-xs">
                <%= link_to "Powell Schedule", root_path(location: "Powell"), class: "btn btn-success btn-lg registration_buttons"  %>
                <%= link_to "New Albany Schedule", root_path(location: "New Albany"), class: "btn btn-success btn-lg registration_buttons" %>
            </div>
            <div class="visible-xs col-xs-12 centered">
                <%= link_to "Powell Schedule", root_path(location: "Powell"), class: "btn btn-success btn-lg registration_buttons mobile-buttons"  %>
                <%= link_to "New Albany Schedule", root_path(location: "New Albany"), class: "btn btn-success btn-lg registration_buttons mobile-buttons" %>
            </div>
          </div><!-- /row header_buttons-->
        </div>
      </div><!-- /col-lg-9 col-md-9 col-sm-12 col-xs-12 -->
      <div class="col-lg-3 sun hidden-sm hidden-xs">
        <i class="glyphicon glyphicon-certificate glyphicon-white"></i>
      </div><!-- /col-lg-6 -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->


  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Enlightening summer camps<br/>worth attending.</h1>
        <h3>We work tirelessly to find fun ways to help engage students of all ages in the fields of Mathematics and Technology.</h3>
      </div>
    </div><!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-4">
        <i class="fa fa-users fa-5x"></i>
        <h2>Great Teachers</h2>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-sort-amount-desc fa-5x"></i>
        <h2>Small Camp Sizes</h2>

      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-smile-o fa-5x"></i>
        <h2>Fun</h2>

      </div><!--/col-lg-4 -->
    </div><!-- /row -->
  </div><!-- /container -->
<% end %>