<div class="container">
  <p>
    <strong>Name:</strong>
    <%= @coupon_code.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= CouponCode::DISCOUNT_TYPE[@coupon_code.coupon_type.to_i] %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @coupon_code.description %>
  </p>

  <% if @coupon_code.coupon_type.to_i < 2 %>
    <p>
      <strong>Amount:</strong>
      <%= @coupon_code.amount %>
    </p>
  <% else %>
    <p>
      <strong>Half-day Discount:</strong>
      <%= @coupon_code.half_day_discount %>
    </p>
    <p>
      <strong>Full-day Discount:</strong>
      <%= @coupon_code.full_day_discount %>
    </p>
  <% end %>

  <p>
    <strong>Active:</strong>
    <%= @coupon_code.active %>
  </p>


  <%= link_to 'Edit', edit_coupon_code_path(@coupon_code) %> |
  <%= link_to 'Back', coupon_codes_path %>
</div>
