<div class="container">
  <% if current_user && current_user.role?(:super_admin) %>
    <h1>Listing Locations</h1>

<table  class="datatable display" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Telephone</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.address_1 %></td>
        <td><%= location.address_2 %></td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= location.zip %></td>
        <td><%= location.telephone %></td>
        <td><%= location.email %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    <br />

    <%= link_to 'New Location', new_location_path %>
  <% else %>
    <div class="location-selection">
      <h1 class="centered">Select A Location!</h1>
      <div class="container" style="margin-bottom:70px;">
        <div class="row locations">
          <div class="col-md-6 col-xs-12 text-center hilliard">
            <%= link_to new_registration_path(location: 3) do %>
              <h2>Hilliard/ UA</h2>
            <% end %>
            <div class="location-description"><em>Mill Run</em></div>
          </div>
          <div class="col-md-6 col-xs-12 text-center new-albany">
            <%= link_to new_registration_path(location: 2) do %>
              <h2>New Albany</h2>
            <% end %>
            <div class="location-description"><em>North Hamilton Rd (near Home Depot)</em></div>
          </div>
        </div>
        <div class="row locations">
          <div class="col-md-6 col-xs-12 text-center powell">
            <%= link_to new_registration_path(location: 1) do %>
              <h2>Powell</h2>
            <% end %>
            <div class="location-description"><em>Sawmill Parkway &amp; Powell Road</em></div>
          </div>
          <div class="col-md-6 col-xs-12 text-center past">
            <%= link_to new_registration_path(location: 4) do %>
              <h2>PAST Innovation Lab</h2>
            <% end %>
            <div class="location-description"><em>West OSU Campus (near AMC Lennox)</em></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
