<div itemscope itemtype="http://schema.org/LocalBusiness" class="text-center">
  <p>
    <span itemprop="name">Math Plus Academy Summer Camps<span>
  </p>
  <p>
    <span itemprop="address">9681 Sawmill Rd.<br />
    Powell, Ohio 43065<span>
  </p>
</div>

<p class="centered">
  <%= link_to "Terms and Conditions", terms_path %> |
  <%= link_to "Privacy Policy", privacy_path %>
</p>

<p class="centered">
  <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path %> |
    <%= link_to "Profile", edit_user_registration_path %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>
</p>

<% if !user_signed_in? %>
  <!-- <script src="//static.leadpages.net/leadboxes/current/embed.js" async defer></script> <script>window.addEventListener('LPLeadboxesReady',function(){LPLeadboxes.setExitIntent('i5jvMqZEnjagr9VPMoY23h',{dontShowFor:'1d',domain:'mathplus.lpages.co'});});</script> -->
<% end %>
