<div class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#main-nav" aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <%= image_tag "home_page/camps_logo.svg" %>
  </a>
  <div class="collapse navbar-collapse  justify-content-end" id="main-nav">
    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to "MPA.com", "http://www.mathplusacademy.com", class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "How We Compare", comparison_path, class: "nav-link" %></li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More Info<b class="caret"></strong>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Testimonials", testimonials_path, class: "dropdown-item" %>
          <%= link_to "FAQ", faq_path, class: "dropdown-item" %>
          <%= link_to("#signUpModal", :data => {:toggle=>"modal"}, class: "dropdown-item") do %>Help<% end %>
        </div>
      </li>
      <li class="navbar-text"><i class="fa fa-phone"></i> 614.792.6284</li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
