<div class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#main-nav" aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <%= image_tag "home_page/camps_logo.svg" %>
  </a>
  <div class="collapse navbar-collapse  justify-content-end" id="main-nav">
    <ul class="navbar-nav">
      <!-- <li class="nav-item"><%# link_to "MPA.com", "http://www.mathplusacademy.com", class: "nav-link" %></li> -->
      <!-- <li class="nav-item"><%= link_to "How We Compare", comparison_path, class: "nav-link" %></li> -->
      <!-- <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          In-Person<b class="caret"></b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% @activecamps.each do |camp| %>
            <% if (camp.title != 'Extended Care' && !camp.online) %>
              <%= link_to (camp.title+" <small style='color:gray;'>Ages: "+camp.age+"</small>").html_safe, camp_path(camp), class: "dropdown-item"%>
            <% end %>
          <% end %>
        </div>
      </li> -->

      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Online Catalog<b class="caret"></b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% @onlinecamps.each do |camp| %>
            <% if (camp.title != 'Extended Care' && camp.online) %>
              <%= link_to (camp.title+" <small style='color:gray;'>Ages: "+camp.age+"</small>").html_safe, camp_path(camp), class: "dropdown-item"%>
            <% end %>
          <% end %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          In-person Catalog<b class="caret"></b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% @activecamps.each do |camp| %>
            <% if (camp.title != 'Extended Care' && !camp.online) %>
              <%= link_to (camp.title+" <small style='color:gray;'>Ages: "+camp.age+"</small>").html_safe, camp_path(camp), class: "dropdown-item"%>
            <% end %>
          <% end %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Locations<b class="caret"></b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% @locations.each do |location| %>
            <%= link_to location.name, new_registration_path(location: location.id), class: "dropdown-item"%>
          <% end %>
        </div>
      </li>
      <!-- <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More Info<b class="caret"></b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "How We Compare", comparison_path, class: "dropdown-item" %>
          <%= link_to "Testimonials", testimonials_path, class: "dropdown-item" %>
          <%= link_to "FAQ", faq_path, class: "dropdown-item" %>
        </div>
      </li> -->
      <!-- <li class="navbar-text">
          <%= link_to "Enroll Now", new_registration_path(location: 7), class: "btn btn-small btn-success" %>
      </li> -->
    </ul>
  </div><!--/.nav-collapse -->
</div>
