<!DOCTYPE html>
<html>
<head>
  <title>Camps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= render 'layouts/navbar' %>

<%= yield %>

  <hr>
  <p class="centered">Created by BlackTie.co - Attribution License 3.0 - 2013</p>
  <p class="centered">
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  </p>
  </body>
</html>
