<!DOCTYPE html>
<html>
  <head>
    <title>Math Plus Summer Tech Camps</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>

    <%= render 'layouts/facebook_SDK' %>

    <%= render 'layouts/twitter_SDK' %>

    <%= render 'layouts/navbar' %>

    <div id="flash_messages">
      <%= flash_messages %>
    </div>

    <%= yield %>

    <% if Rails.env.development? %>
      <div class="container" style= "margin-top:25px;">
        <%= debug(params) %>
      </div>
    <% end %>

    <hr>
    <%= render 'layouts/footer' %>

    <%= render 'layouts/ga' if Rails.env.production? %>
  </body>
</html>
